@model GeneratorBase.MVC.Models.T_MenuBarMenuItemAssociation
@{
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_MenuBarMenuItemAssociation");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Menu Bar Menu Item Association";
	List<string> hiddenProperties = new List<string>();
    if (User.businessrules.Any(p => p.EntityName == "T_MenuBarMenuItemAssociation" && p.ActionTypeID.Contains(6)))
    {
        hiddenProperties = Model.ApplyHiddenRule(User.businessrules, "T_MenuBarMenuItemAssociation", true);
    }
	Layout = null;
}

<script>
    $(document).ready(function () {
        var IdExist = '@Model.Id';
        console.log('Id', IdExist);
      if (IdExist == 0) {
          $('#@Model.Id').removeAttr("style");
        }
    });
</script>

<div class="card card-default CardHide" id="@Model.Id" style="width: 350px; margin-bottom:0px">
	 @if (Model.Id > 0)
    {
	<div class="card-header clearfix">
        <h3 class="card-title">
			<div class="truncate">
				@if(User.CanEdit("T_MenuBarMenuItemAssociation"))
                {
                   <i class="fa fa-info-circle"></i><a href = "@Url.Action("Edit", "T_MenuBarMenuItemAssociation", new { id = Model.Id }, null)" onclick="event.stopImmediatePropagation();"> @EntityDisplayName > @Model.DisplayValue</a>
                }
                else if (User.CanView("T_MenuBarMenuItemAssociation"))
                {
                     <i class="fa fa-info-circle"></i><a href="@Url.Action("Details", "T_MenuBarMenuItemAssociation", new { id = Model.Id }, null)" onclick="event.stopImmediatePropagation();"> @EntityDisplayName > @Model.DisplayValue</a>
                }
            </div>
        </h3>
		<a href="" class="pull-right" style="margin-top:-16px"><i class="fa fa-times-circle" onclick="event.stopImmediatePropagation();ClosePopupCard(event)"></i></a>
    </div>
	  @Html.HiddenFor(model => model.Id)
	  }
	    <div class="card-body">
		   <div class="col-12" style="padding:0px;">

	@if(User.CanView("T_MenuBar") && User.CanView("T_MenuBarMenuItemAssociation","T_MenuBarID") && !hiddenProperties.Contains("T_MenuBarID"))
{
 <div class="form-group col-6 float-left">
		<label class="font-weight-bold truncate1">@Html.LabelFor(model => model.T_MenuBarID)</label>
 @if (Model.t_menubar!=null && !string.IsNullOrEmpty(Model.t_menubar.DisplayValue))
        {
		 <p class="truncate1" id="lblT_MenuBar">
				@Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.t_menubar.DisplayValue).ToString()), "Details", "T_MenuBar", new { Id = Html.DisplayFor(model => model.t_menubar.Id).ToString() }, null)
		</p>
		}
</div>
}
	@if(User.CanView("T_MenuItem") && User.CanView("T_MenuBarMenuItemAssociation","T_MenuItemID") && !hiddenProperties.Contains("T_MenuItemID"))
{
 <div class="form-group col-6 float-left">
		<label class="font-weight-bold truncate1">@Html.LabelFor(model => model.T_MenuItemID)</label>
 @if (Model.t_menuitem!=null && !string.IsNullOrEmpty(Model.t_menuitem.DisplayValue))
        {
		 <p class="truncate1" id="lblT_MenuItem">
				@Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.t_menuitem.DisplayValue).ToString()), "Details", "T_MenuItem", new { Id = Html.DisplayFor(model => model.t_menuitem.Id).ToString() }, null)
		</p>
		}
</div>
}
@if(User.CanView("T_MenuBarMenuItemAssociation","T_OrderNumber") && !hiddenProperties.Contains("T_OrderNumber") )
{
<div class="form-group col-6 float-left">
                <label class="font-weight-bold truncate1">@Html.LabelFor(model => model.T_OrderNumber)</label>
					

				                        
                            <p class="truncate1" id="lblT_OrderNumber" class="viewlabel"  title="@Model.T_OrderNumber">@Model.T_OrderNumber</p>
                      



				 </div>
}
		</div> <!-- /tab-content -->
	</div>
</div>
 
