@model GeneratorBase.MVC.Models.CompanyInformation
@{
    ViewBag.Title = "Create CompanyInformation";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "CompanyInformation");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "CompanyInformation";
	if (ViewBag.IsPartial != null && ViewBag.IsPartial == true)
    {
        Layout = null;
    }
}

<div class="content-heading">
@{
                var hostingValue = "";
                if (ViewBag.DisplayVal != null)
                {
                    hostingValue = " - " + ViewBag.DisplayVal;
                }
            }
    <a href="@Url.Action("Index", "Admin")"> Admin</a> <strong><a href="@Url.Action("Index")">@EntityDisplayName</a><small>Create - Add @EntityDisplayName @hostingValue @Html.DisplayFor(model => model.DisplayValue)</small></strong>
   
    <div class="ml-auto hidetools">
			 
			             


@if (ViewBag.IsPartial == null)
{
			<a class="btn btn-secondary btn-sm"  data-original-title="List View" data-placement="top" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Index", "CompanyInformation") + "');") alt="Search" title="List">
				<i class="fa fa-list"></i> List
			</a>
}
	   
	 <a href="#" class="btn btn-secondary btn-sm closeall"><i class="fa fa-chevron-up"></i> Collapse All</a> 
	 <a href="#" class="btn btn-secondary btn-sm openall" style="margin-right:5px;"><i class="fa fa-chevron-down"></i> Expand All</a>
	
        
    </div>
    <!-- /.col-lg-12 No Email-->
</div>


@Html.Partial("~/Views/CompanyInformation/CreatePartial.cshtml", Model)

     
