@model GeneratorBase.MVC.Models.T_DocumentTemplate
@{
    ViewBag.Title = "Create Document Template";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_DocumentTemplate");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Document Template";
	if (ViewBag.IsPartial != null && ViewBag.IsPartial == true)
    {
        Layout = null;
    }
}

<div class="content-heading">
@{
                var hostingValue = "";
                if (ViewBag.DisplayVal != null)
                {
                    hostingValue = " - " + ViewBag.DisplayVal;
                }
            }
    <strong><a href="@Url.Action("Index")">@EntityDisplayName</a><small>Create - Add @EntityDisplayName @hostingValue @Html.DisplayFor(model => model.DisplayValue)</small></strong>
   
    <div class="ml-auto hidetools">
			 
			             


@if (ViewBag.IsPartial == null)
{
    if (ViewData["HostingEntity"]==null)
	{ 
			 <a href="@(Url.Action("SetFSearch", "T_DocumentTemplate")+Request.Url.Query)" data-original-title="Query"  class="btn btn-secondary btn-sm" alt="Query" title="Query"><i class="fa fa-search"></i> Query</a>
	}
}
@if (ViewBag.IsPartial == null)
{
			<a class="btn btn-secondary btn-sm"  data-original-title="List View" data-placement="top" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Index", "T_DocumentTemplate") + "');") alt="Search" title="List">
				<i class="fa fa-list"></i> List
			</a>
}
	
        
    </div>
    <!-- /.col-lg-12 No Email-->
</div>


@Html.Partial("~/Views/T_DocumentTemplate/CreatePartial.cshtml", Model)

     
