@model GeneratorBase.MVC.Models.T_Customer
@using PagedList;
@{
    ViewBag.Title = "View Customer";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_Customer");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Customer";
	var modelproperties = EntityDisplayNameReflector.Properties;
	List<string> hiddenProperties = new List<string>();
    if (User.businessrules.Any(p => p.EntityName == "T_Customer" && p.ActionTypeID.Contains(6)))
    {
        hiddenProperties = Model.ApplyHiddenRule(User.businessrules, "T_Customer", true);
    }
	var backUrl = Request.UrlReferrer != null ?  Request.UrlReferrer.PathAndQuery : "";

    string footerclassdiv1 = "card ButtonFooter";
    string footerclassdiv2 = "card-footer container-fluid";


    var NonViewableProperties = User.CanNotView("T_Customer");
	var proplstgroupby = modelproperties.Where(p => p.Proptype.ToLower() == "group").GroupBy(p => p.PropText);
	List<string> groupcontaininginlinegrid = new List<string>();  
    string lstHiddenGroupFLS = GeneratorBase.MVC.Models.CustomHelperMethod.HideGroupsForFLSHiddenBR(NonViewableProperties, hiddenProperties, proplstgroupby, "T_Customer", User, groupcontaininginlinegrid);

		}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
			 $("[inlinegrid]").each(function () {
            //$(this).click();
            eval($(this).attr('onclick'));
            var targetpanel = $(this).attr('id').replace('dvGroup', '');
            $('#' + targetpanel).removeClass('fade in');
        });
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CustomerIsGroupsHiddenRule))
    {
    <script>
        var ResetBaseUrl = '@Url.Action("ResetToDefault", new { id = Model != null ? Model.Id : 0, groupName = "_groupname" })';
    </script>
    }
   
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CustomerIsHiddenRule))
    {
        <script>

             var ResetBaseUrlField = '@Url.Action("ResetToDefaultField", new { id = Model != null ? Model.Id : 0, fieldName = "_fieldname" })';
        </script>
    }

}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CustomerIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_CustomerIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CustomerIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_CustomerIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CustomerIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_CustomerIsSetValueUIRule);
    }
}
<div>
<style>
.formbuttonfix {
    margin-right: 4px;
   
}

.CEntityCount {
display:none !important;
}
</style>
<div class="content-heading">
    <strong><a href="@Url.Action("RedirectToEntity","Home", new { EntityName="T_Customer"})">@EntityDisplayName</a>
	<small>Details - <span class="EntityDisplayName"> @Html.DisplayFor(model => model.DisplayValue)</span></span>
	</small>
	</strong>
    <div class="ml-auto">

			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_Customer"))
                    {
                        <a href="@Url.Action("Edit","T_Customer", new {UrlReferrer = backUrl,id = Model.Id,AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="fa fa-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_Customer"))
                    {
                        <a href="@Url.Action("Delete", "T_Customer", new { UrlReferrer = backUrl,id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="fa fa-remove-sign"></i>  Delete</a>
                    }
                </li>
			</ul>
   </div>
</div>
</div>
	<input type="hidden" id="ErrMsg" />
<div id="errorContainerEdit" style="display: none">
    <div id="errorsMsgEdit"></div>
    <div id="errorsEdit"></div>
</div>
@Html.Partial("~/Views/Shared/ErrorTemplate.cshtml")
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
            <div class="tabs-container">
    <ul class="nav nav-tabs tabellipsis">
	 <li class="nav-item">
	 <a class="nav-link active" href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab" title="Details">Details</a>
	 </li>

 @if (User.CanView("JournalEntry"))
        {
		 <li class="nav-item">
		 <a class="nav-link" onclick="LoadTab('JournalEntryToT_CustomerRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, RelatedEntityRecords = "T_Customer", HostingEntity = "T_Customer", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_CustomerRelation" data-toggle="tab" title="Customer Journal">Customer Journal</a>
		 </li>
		 }

    </ul>
	  @Html.HiddenFor(model => model.Id)
	    <div class="tab-content">
		   <div class="tab-pane fade show active" id="Details">
				 <div class="AppForm">
					<div class="">

<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12" id="accordion">
			<div class="card card-default" id="dvGroupT_CustomerBasicInformation">
                <div class="card-header clearfix">
					
											
									<h3 class="card-title">Basic Information</h3>
								</div>
                                <div class="card-body row">
                                  

@if(User.CanView("T_Customer","T_AutoNo")  && !hiddenProperties.Contains("T_AutoNo") )
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AutoNo">
	<div class='form-group' title="@Model.T_AutoNo">
		<label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.DisplayNameFor(model => model.T_AutoNo) </label>
		<div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
		
						<p id="lblT_AutoNo" class="viewlabel">@Model.T_AutoNo</p>
								</div>
	</div>
</div>
}
@if(User.CanView("T_Customer","T_Name")  && !hiddenProperties.Contains("T_Name") )
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Name">
	<div class='form-group' title="@Model.T_Name">
		<label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.DisplayNameFor(model => model.T_Name) </label>
		<div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
		
						<p id="lblT_Name" class="viewlabel">@Model.T_Name</p>
								</div>
	</div>
</div>
}
 
			</div>
        </div>
	</div>
	</div>
<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12" id="accordion">
			<div class="card card-default" id="dvGroupT_CustomerMoreInformation">
                <div class="card-header clearfix">
					
											
									<h3 class="card-title">More Information</h3>
								</div>
                                <div class="card-body row">
                                  

@if(User.CanView("T_Customer","T_Description")  && !hiddenProperties.Contains("T_Description"))
{
<div class='col-sm-12 col-md-12 col-xs-12' id="dvT_Description">
	<div class='form-group' title="@Model.T_Description">
		<label class="col-sm-2 col-md-2 float-left col-xs-12">@Html.DisplayNameFor(model => model.T_Description)</label>
		<div class="input-group col-sm-10 col-md-10 float-left col-xs-12">
		<p class="viewlabelmultiline">@Model.T_Description</p>
		</div>
	</div>
</div>
}
 
			</div>
        </div>
	</div>
	</div>
				</div>
			</div>
			<div class="@footerclassdiv1">
                    <div class="@footerclassdiv2">
				<a class="btn btn-white btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index","T_Customer")');">Back</a>
				@*@Html.ActionLink("Back", "Cancel", new { UrlReferrer = backUrl }, new { @class = "btn btn-white btn-sm pull-left formbuttonfix" })*@
					 @if ( User.CanEdit("T_Customer"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { UrlReferrer = backUrl, id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
@foreach (var item in (List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates)
{
	if (item.T_DisplayType == "Button")
	{
        var isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false;
        var ispreview = item.T_EnablePreview.HasValue ? item.T_EnablePreview.Value : false;
        if (ispreview)
                            {
        <a class="btn btn-primary btn-sm pull-left formbuttonfix" style="fore-color:@item.T_FontColor!important;background-color:@item.T_BackGroundColor!important;" id="vrb1_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" data-placement="top" data-original-title="@item.T_Name" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntityBR('addPopup','"+Model.DisplayValue+"','dvPopup','" + Url.Action("ViewPDF", "T_Customer", new { id=Model.Id, DocumentId=item.T_Document, documentName=item.T_Name, outputFormat=item.T_DefaultOutputFormat, isdownload=false, ispreview=true }) + "')")" alt="@item.T_Name" title="@item.T_Name">
            <i class="fa fa-file-pdf"></i> @item.T_Name
        </a>
                            }
                            else
                            {
        
	    <a class="btn btn-primary btn-sm pull-left formbuttonfix" style="fore-color:@item.T_FontColor!important;background-color:@item.T_BackGroundColor!important;" id="vrb1_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" onclick="@Html.Raw("GenerateDocumentFromButton(this,'"+isdownload + "');")" dataurl="@Url.Action("GenerateDocument", "T_Customer", new { id = Model.Id, DocumentId = item.T_Document, documentName = item.T_Name, outputFormat = item.T_DefaultOutputFormat, isdownload = isdownload, ispreview = ispreview }, null)"> @item.T_Name</a>
        }
	}
}
@if (((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox").Count() > 0)
{ 
<div class="modal fade" id="addGenerateDocument" tabindex="-1" role="dialog" aria-labelledby="addGenerateDocumentLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addGenerateDocumentLabel">Generate Document</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="cancelQuickAdd();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="row col-md-12 col-sm-12 col-xs-12" id="dvGroupGenerateDocument">
                                    @foreach (var item in ((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox"))
                                    {
										var isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false;
                                        <div class="col-sm-4">
                                            <input type="checkbox" verbName="_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" name="SelectedGenerateDocumentTemplate" @(isdownload?"download=true":"download:false") dataurl='@Url.Action("GenerateDocument", "T_Customer", new { id = Model.Id, DocumentId = item.T_Document, documentName = item.T_Name, outputFormat = item.T_DefaultOutputFormat, isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false }, null)' /> @item.T_Name
                                        </div>
                                    }
                                </div>
                                <div class="card-body row pull-right">
								 <label id="lblGenerateDocument" class="text-primary"></label>
                                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default btn-sm" onclick="cancelQuickAdd();">Close</button>
                                    <a class="btn btn-primary btn-sm pull-right" style="margin-left:5px;" onclick="GenerateDocument(this,'dvGroupGenerateDocument','default');"> Generate</a>
                                    <a class="btn btn-primary btn-sm pull-right" style="margin-left:5px;" onclick="GenerateDocument(this,'dvGroupGenerateDocument','pdf');"> Generate (PDF)</a>
                                </div>
            </div>

            <div style="clear:both"></div>
        </div>
    </div>
</div>
<a class="btn btn-primary btn-sm pull-left formbuttonfix" id="vrb1GenerateDocument" data-original-title="Generate Document" data-toggle="modal" data-target="#addGenerateDocument"> Generate Document</a>
}


        @{List<string> hiddenVerb = new List<string>(); var Verblist = "";
		if (User.businessrules.Any(p => p.EntityName == "T_Customer" && p.ActionTypeID.Contains(16)))
		{
			hiddenVerb = Model.ApplyHiddenVerbRule(User.businessrules, "T_Customer");
			Verblist = string.Join(",", hiddenVerb.ToList());
		}
		if (User.businessrules.Any(p => p.EntityName == "T_Customer" && p.ActionTypeID.Contains(16)))
		{
			 <script>HideVerbFromBR('@Verblist');</script>
		}
		}

 @{ var dropmenubottom = false; }
<div class="dropdown pull-left formbuttonfix" style="display:none;" id="AddAssociationdropmenubottomT_Customer">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add 
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
</ul>
</div>
@if(!dropmenubottom)
{
    <script>
        $("#AddAssociationdropmenubottomT_Customer").hide();
    </script>
}
			</div> 
			</div><div class="clearfix" style="clear:both"></div>
	</div>    
<div class="tab-pane fade in" id="JournalEntryToT_CustomerRelation">
</div>
 	</div> <!-- /tab-content -->
</div>
</div>
@{
    if(ViewData["VerbHiddenForDetails"] !=null)
    {
        foreach (var verb in ViewData["VerbHiddenForDetails"] as Dictionary<string,string>)
        {
			<script>
			$("#vrb" + '@verb.Value').remove();
			$("#vrb1" + '@verb.Value').remove();
			</script>

        }
    }
}
@if (ViewData["LockRecordMsg"] != null)
{

    var htmlstr = Convert.ToString(ViewData["LockRecordMsg"]);
    <script>
        $(document).ready(function () {
        debugger;
            var failuremsg = '@htmlstr';
            $("#divDisplayLockRecord").removeAttr("style");
            $("#divDisplayLockRecord").html(getMsgTableLockBR());
            $("#ErrmsgLockRecord").html(failuremsg.replace(/,\s*$/, ""));
            $("#divDisplayLockRecord1").html($("#divDisplayLockRecord").html());
    });
    </script>
}
<script type='text/javascript'>
    $(document).ready(function ()
    {
    if('@ViewBag.EntityHelp' == 'True' || '@ViewBag.EntityHelp' == 'true')
    {
		ShowHelpIcon(@Html.Raw("'"+Url.Action("ShowHelpIcon", "PropertyHelpPage")+"'"),'T_Customer','details',false,'Customer')
        //instruction feature
         ShowInstructionLabel(@Html.Raw("'"+Url.Action("ShowInstructionLabel", "PropertyHelpPage")+"'"),'T_Customer','edit',false,'Customer')
     }
		 var arrgroup = '@lstHiddenGroupFLS'.split(',');
            $.each( arrgroup, function( index, value ){
               if (value.length > 0) $("#"+value).hide();
            });
    });
	</script>
	
 
