@model GeneratorBase.MVC.Models.AppSetting
@{
    ViewBag.Title = "Delete Application Setting";
    Layout = null;
}

    @using (Html.BeginForm("DeleteSettingConfirmed", "AppSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ConcurrencyKey)
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card card-default AppForm">
                    <div class="card-header text-white bg-danger clearfix">
                        <h6> Are you sure you want to delete application setting - <strong>@Html.DisplayFor(model => model.DisplayValue) ?</strong></h6>
                    </div>
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Key)
                            </dt>
                            <dd class="clearfix">
                                @Html.DisplayFor(model => model.Key)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Value)
                            </dt>
                            <dd class="clearfix">
                                @Html.DisplayFor(model => model.Value)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="clearfix">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastUpdatedByUser)
                            </dt>
                            <dd class="clearfix">
                                @Html.DisplayFor(model => model.LastUpdatedByUser)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row deletefix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="submit" value="Delete" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'AppSetting','null','null',0);" />
            </div>
        </div>
    }






