@model GeneratorBase.MVC.Models.T_ExportDataLog
@{
 ViewBag.Title = "Bulk Update Export Data Log";
    Layout = null;
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_ExportDataLog");
	var businessrule = User.businessrules.Where(p => p.EntityName == "T_ExportDataLog").ToList();
    bool IsAlwaysHidden = false;
    bool IsAlwaysSetValue = false;
    bool IsAlwaysReadOnly = false;
    if (businessrule != null && businessrule.Count() > 0)
    {
        var lstBR = businessrule;
        foreach (var BR in lstBR)
        {
            foreach (var objcond in BR.ruleaction)
            {
                long? _raid = objcond.AssociatedActionTypeID;
                var objConditionList = BR.ruleconditions.Where(con => con.RuleConditionsID == objcond.RuleActionID).Where(p=>p.PropertyName=="Id"  && p.Operator == ">" && p.Value == "0") ;
                foreach (var BRCon in objConditionList)
                {
                    if (_raid == 6)
                    {
                            IsAlwaysHidden = true;
                    }
                    if (_raid == 7)
                    {
                            IsAlwaysSetValue = true;
                    }
                    if (_raid == 4)
                    {
                            IsAlwaysReadOnly = true;
                    }
                }
            }
        }
    }
}
@if (IsAlwaysHidden)
{ 
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataLogIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_ExportDataLogIsHiddenRule);
    }
 }
<script>
    $(document).ready(function () {
       LockHostDropdownOnEdit('@Convert.ToString(ViewData["AssociatedType"])');
    });
</script>
<script>
    $(document).ready(function () {
        $('.form-control:input').change(function () {
            var $this = $(this);
            $("input[type=checkbox][value=" + $this.attr('id') + "]").prop("checked", $this.val() != '' ? true : false);
            var ChildDDids = $this.attr('ChildDDids');
            if (ChildDDids != undefined) {
                var ids = ChildDDids.split(",");
                for (var i = 0; i < ids.length; i++) {
                    $("input[type=checkbox][value=" + ids[i] + "]").prop("checked", $this.val() != '' ? true : false);
                }
            }
        })
    });
</script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("BulkUpdate", "T_ExportDataLog", new { UrlReferrer = Convert.ToString(ViewData["T_ExportDataLogParentUrl"]), IsDDAdd = ViewBag.IsDDAdd }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmT_ExportDataLog" }))
{
   @Html.AntiForgeryToken();
   @Html.Hidden("BulkUpdate", (object)ViewBag.BulkUpdate);
	<div class="alert alert-danger" style="margin-top:-10px;">
        <strong>Warning!</strong> This action updates all the selected records.
        Select the desired properties from the checkbox list in the pop-up window.
        Click "Update" to proceed with modification action of the selected properties.
    </div>
	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="AppForm">
               
                   <table class="table table-striped default-bordered table-hover default-condensed">
                        <thead>
                            <tr>
                                <th style="width:70px">Select to update property</th>
                                <th>Property Name</th>
                                <th>Set Value of Property</th>
                            </tr>
							 @if(User.CanView("T_ExportDataLog","T_AutoNo"))
								{
<tr id="dvT_AutoNo">
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_AutoNo" /></td>
                <td>@Html.LabelFor(model => model.T_AutoNo)</td>
				<td> @Html.TextBoxFor(model => model.T_AutoNo, new { @class = "form-control" })
				</td></tr>
				}
@if(User.CanView("T_ExportDataLog","T_ExportDataConfigurationExportDataLogAssociationID"))
	{
<tr id="dvT_ExportDataConfigurationExportDataLogAssociationID">
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_ExportDataConfigurationExportDataLogAssociationID" /></td>
				<td>@Html.LabelFor(model => model.T_ExportDataConfigurationExportDataLogAssociationID)</td>
				<td>
@Html.DropDownList("T_ExportDataConfigurationExportDataLogAssociationID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_ExportDataConfiguration", @dataurl = Url.Action("GetAllValue", "T_ExportDataConfiguration",new { caller = "T_ExportDataConfigurationExportDataLogAssociationID" }) })
				</td></tr>
				}
@if(User.CanView("T_ExportDataLog","T_AssociatedExportDataLogStatusID"))
	{
<tr id="dvT_AssociatedExportDataLogStatusID">
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_AssociatedExportDataLogStatusID" /></td>
				<td>@Html.LabelFor(model => model.T_AssociatedExportDataLogStatusID)</td>
				<td>
@Html.DropDownList("T_AssociatedExportDataLogStatusID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_ExportDataLogstatus", @dataurl = Url.Action("GetAllValue", "T_ExportDataLogstatus",new { caller = "T_AssociatedExportDataLogStatusID" }) })
				</td></tr>
				}
                        </thead>
                    </table>

 </div>
  </div>
   </div>
   <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
    if (ViewBag.IsDDAdd == null && User.CanEdit("T_ExportDataLog"))
    {
        <input type="submit" value="Update" class="btn btn-primary btn-sm" />
    }
    <br /><br />
	}
<script src="~/Scripts/Common3/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
<script>
    $(function () {
        ApplyAreYouSure();
    });
</script>

@{
    if ((businessrule != null && businessrule.Count > 0 && IsAlwaysReadOnly))
    {
        var typelist = string.Join(",", businessrule.SelectMany(p => p.ActionTypeID).Distinct().ToList());
        <script>
            $(document).ready(function () {
                document.getElementById("ErrMsg").innerHTML = "";
                var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";
                form = $("#frmT_ExportDataLog");
                dataurl = "@Url.Action("businessruletype", "T_ExportDataLog", new { ruleType = "OnEdit"})";
                ApplyBusinessRuleOnPageLoad("@typelist", dataurl, "T_ExportDataLog", false, "ErrMsg", form);

            });
        </script>
    }
if (IsAlwaysSetValue)
    {
     if (!string.IsNullOrEmpty(ViewBag.T_ExportDataLogIsSetValueUIRule))
		{
        @Html.Raw(ViewBag.T_ExportDataLogIsSetValueUIRule);
		}
    }
}

    
