@model GeneratorBase.MVC.Models.T_ExportDataDetails
@using PagedList;

@{
    ViewBag.Title = "Edit Export Data Details";
	var EditPermission = User.CanEditItem("T_ExportDataDetails", Model, User);
	//var DeletePermission = User.CanDeleteItem("T_ExportDataDetails", Model, User);
	var modelproperties = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_ExportDataDetails").Properties;
	Layout = null;

	bool isRecordReadOnly = false;
    if (ViewData["RecordReadOnly"] != null && Convert.ToBoolean(ViewData["RecordReadOnly"])==true)
    {
        isRecordReadOnly = true;
		ViewData["RecordReadOnly"]=true;
    }
	var HideAction = GeneratorBase.MVC.Models.CustomHelperMethod.ShowHideAction("T_ExportDataDetails");
	var NonViewableProperties = User.CanNotView("T_ExportDataDetails");
	var proplstgroupby = modelproperties.Where(p => p.Proptype.ToLower() == "group").GroupBy(p => p.PropText);
    List<string> hiddenProperties = new List<string>();
	string lstHiddenGroupFLS = GeneratorBase.MVC.Models.CustomHelperMethod.HideGroupsForFLSHiddenBR(NonViewableProperties, hiddenProperties, proplstgroupby, "T_ExportDataDetails", User);
	}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_ExportDataDetails", Property))
        {
            return new { @class = "form-control"};
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
<script>
    $(document).ready(function () {
        try {
		 if ($('#EntityT_ExportDataDetailsDisplayValue').has('option').length > 0) {
			var RecId =  $($("#frmQEditT_ExportDataDetails")[0]["Id"]).val();//.$("#Id").val()
            $("#T_ExportDataDetailsDD").append($("#EntityT_ExportDataDetailsDisplayValue").html());
            $("#T_ExportDataDetailsDD").val(RecId);
			var text = $("option:selected", $("#T_ExportDataDetailsDD")).text();
            $("#T_ExportDataDetailsDD").attr('data-toggle', 'tooltip')
            $("#T_ExportDataDetailsDD").attr('title', text);
            var lastOptionVal = $('#T_ExportDataDetailsDD option:last-child').val();
            var fristOptionVal = $('#T_ExportDataDetailsDD option:first-child').val();
            if (lastOptionVal == RecId)
			{
                $('#next').hide();
				$('#SaveAndContinue').hide();
				}
            if (fristOptionVal == RecId)
                $('#prev').hide();	
			} else {  $('#dvsavenext').hide(); $('#SaveAndContinue').hide(); }
			
			LockHostDropdownOnEditQuick('@Convert.ToString(ViewData["AssociatedType"])','@Convert.ToBoolean(ViewData["IsFilter"])');
        }
        catch (ex) { }
    });
	 $(document).ready(function () {
        $('input[type=text], textarea,input[type=multiline]').hover(function () {
            $(this).attr("title", $(this).val());
        });

    });
</script>
<style>.multiselect-container{
        height: 250px !important;
}</style>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsIsSetValueUIRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsRestrictDropdownValueRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsRestrictDropdownValueRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row">
	
 @*<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
		<input type="hidden" id="ErrMsg" />
		<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>

<div class="col-sm-6">
     <h4>
                <span id="HostingEntityDisplayValue">
				 @Html.DisplayFor(model => model.DisplayValue)
    </span>
            </h4>
    </div>

	@if (EditPermission && !HideAction)
            {
            <div class="col-sm-6" id="dvsavenext">
                <button class="btn btn-default btn-xs float-right" id="next" onclick="@Html.Raw("nextFun('T_ExportDataDetails')")">Next >></button>
                @Html.DropDownList("T_ExportDataDetailsDD", null, null, new { @onchange = "FillDisplayValueQEdit('T_ExportDataDetails')", @required = "required", @class = "float-right", @Style = "height: 22px;width: 170px;" })
                <button class="btn btn-default btn-xs float-right" id="prev" onclick="@Html.Raw("prevFun('T_ExportDataDetails')")"><< Prev</button>
            </div>
        }


</div>
	
@using (Html.BeginForm("EditQuick","T_ExportDataDetails",new {UrlReferrer =Convert.ToString(ViewData["T_ExportDataDetailsParentUrl"])}, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmQEditT_ExportDataDetails" }))
{
     Html.ValidationSummary(true);
     Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
		if (NonViewableProperties != null) { @Html.Hidden("cannotViewProperties", Html.Raw(string.Join(",", NonViewableProperties)))}
			
		@Html.Partial("~/Views/Shared/ErrorTemplate.cshtml")
     <a id="seturlT_ExportDataDetails" dataurl="@Html.Raw(Url.Action("GetPropertyValueByEntityId", "T_ExportDataDetails")).ToHtmlString()"></a>
		 <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="AppForm">
						<div>
						    @Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card card-default" id="dvGroupT_ExportDataDetailsBasicInformation">
                                        <div class="card-header clearfix">
                                            
											
									<h3 class="card-title" alt="Basic Information" title="Basic Information">Basic Information</h3>
								</div>
                                <div class="card-body row">
				@if(User.CanView("T_ExportDataConfiguration") && !NonViewableProperties.Contains("T_ExportDataConfigurationExportDataDetailsAssociationID"))
				{
				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ExportDataConfigurationExportDataDetailsAssociationID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_ExportDataDetails", "T_ExportDataConfigurationExportDataDetailsAssociationID"))
		{
			@Html.DropDownList("T_ExportDataConfigurationExportDataDetailsAssociationID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_ExportDataConfiguration", @uipropertyinfo = Html.Raw( ViewBag.T_ExportDataConfigurationExportDataDetailsAssociationUIProp), @dataurl = Url.Action("GetAllValue", "T_ExportDataConfiguration",new { caller = "T_ExportDataConfigurationExportDataDetailsAssociationID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID, new { @class = "form-control" })
			@Html.DropDownList("T_ExportDataConfigurationExportDataDetailsAssociationID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_ExportDataConfiguration", @dataurl = Url.Action("GetAllValue", "T_ExportDataConfiguration",new { caller = "T_ExportDataConfigurationExportDataDetailsAssociationID" }) })
		}
                               
							</div> @Html.ValidationMessageFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID)
							
                        </div>
                    </div>
					} 
@if(!NonViewableProperties.Contains("T_ChildEntity"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ChildEntity">
							
								<label  >@Html.LabelFor(model => model.T_ChildEntity) </label>
								<div class='input-group' title="Entity">
                                
								@Html.TextAreaFor(model => model.T_ChildEntity, getHtmlAttributes("T_ChildEntity"))
									@Html.ValidationMessageFor(model => model.T_ChildEntity)
								
                             </div>
						</div>
} 
@if(!NonViewableProperties.Contains("T_ParentEntity"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ParentEntity">
							
								<label  >@Html.LabelFor(model => model.T_ParentEntity) </label>
								<div class='input-group' title="Parent Entity">
                                
								@Html.TextAreaFor(model => model.T_ParentEntity, getHtmlAttributes("T_ParentEntity"))
									@Html.ValidationMessageFor(model => model.T_ParentEntity)
								
                             </div>
						</div>
} 
							</div>
                         </div>
                      </div>
       </div>
			@Html.HiddenFor(model => model.T_AssociationName, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_IsNested, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_Hierarchy, new { @class = "form-control" })
	            </div>
        </div>
	</div>
</div>
		 @Html.AntiForgeryToken();
		 var businessrule1 = User.businessrules.Where(p => p.EntityName == "T_ExportDataDetails").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
		  var typelist = string.Join(",", businessrule1.SelectMany(p => p.ActionTypeID).Distinct().ToList());
		 <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true" onclick="$('#T_ExportDataDetailsRefresh').click();">Cancel</button>
		 if (EditPermission)
         {
			    <input type="submit" id="command" name="command" value="Save & Close" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_ExportDataDetails','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname','@typelist');" />
				<input type="submit" id="sevranBtn" style="display:none;" name="command" value="Save" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,false,'T_ExportDataDetails','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname','@typelist','True');" />
                if (!HideAction)
				{
				<button type="button" id="SaveAndContinue" name="SaveAndContinue" class="btn btn-primary btn-sm" onclick="@Html.Raw("SaveAndContinueEdit('T_ExportDataDetails',event)")">Save & Next</button>
				}
				<input type="hidden" name="hdncommand" value="" />
  		 }	
}
@*<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>*@
@Scripts.Render("~/bundles/jqueryval")
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>
<script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmQEditT_ExportDataDetails").valid()) return;
        var $this = $(this);
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
</script>
@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_ExportDataDetails").ToList();
if ((businessrule != null && businessrule.Count > 0) )
{	
	var typelist = string.Join(",", businessrule.SelectMany(p => p.ActionTypeID).Distinct().ToList());
    <script>
    $(document).ready(function () {
	document.getElementById("ErrMsg").innerHTML = "";
		 var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";
				 form = $("#frmQEditT_ExportDataDetails");
					 dataurl = "@Url.Action("businessruletype", "T_ExportDataDetails", new { ruleType = "OnEdit"})";
            ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "T_ExportDataDetails", false, "ErrMsg", form);
			//business rules on inline associations
			if('@ViewData["RecordReadOnly"]' != 'null' && '@isRecordReadOnly'=='True')
                  {
                        $(':input:not([readonly])', 'form').attr('disabled', 'disabled').attr('readonly', 'readonly').trigger("chosen:updated");
						$('.input-group-append').hide();
						$('.input-group-addon').hide();
						$("a.btnupload").each(function(index) {$(this).remove() });
                  }

    });
</script>
<script>
    $("form").submit(function (event) {
	if (!$("#frmQEditT_ExportDataDetails").valid()) return;
	document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
		var form = $("#frmQEditT_ExportDataDetails").serialize();
					});
</script>
}
}

<script type='text/javascript'>
    $(document).ready(function () {
		IgnoreReadOnlyCtrlFocus();
		ShowHelpIcon(@Html.Raw("'"+Url.Action("ShowHelpIcon", "PropertyHelpPage")+"'"),'T_ExportDataDetails','editquick',false,'Export Data Details')
			var arrgroup = '@lstHiddenGroupFLS'.split(',');
            $.each( arrgroup, function( index, value ){
                $("#"+value).hide();
            });
		
    });
</script>

