@model GeneratorBase.MVC.Models.T_ExportDataDetails
@using PagedList;
@{
    ViewBag.Title = "Edit Export Data Details";
	var EditPermission = User.CanEditItem("T_ExportDataDetails", Model, User);
	//var DeletePermission = User.CanDeleteItem("T_ExportDataDetails", Model, User);
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_ExportDataDetails");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Export Data Details";
	var modelproperties = EntityDisplayNameReflector.Properties;
	if (ViewBag.IsPartial != null && ViewBag.IsPartial == true)
    {
        Layout = null;
    }
	
	List<string> hiddenProperties = new List<string>();
    if (User.businessrules.Any(p => p.EntityName == "T_ExportDataDetails" && p.ActionTypeID.Contains(6)))
    {
        hiddenProperties = Model.ApplyHiddenRule(User.businessrules, "T_ExportDataDetails", true);
    }
	bool isRecordReadOnly = false;
    if (ViewData["RecordReadOnly"] != null && Convert.ToBoolean(ViewData["RecordReadOnly"])==true)
    {
        isRecordReadOnly = true;
		ViewData["RecordReadOnly"]=true;
    }
	var viewmode = Convert.ToString(ViewData["viewmode"]);
    string wizardid = "";
	string footerclassdiv1 = "card ButtonFooter";
    string footerclassdiv2 = "card-footer container-fluid";
    if (viewmode == "wizard")
    {
		footerclassdiv1 = footerclassdiv2 = "";
        wizardid = "id=smartwizard";
    }
 var BackUrl =  Request.Url.PathAndQuery;
    
    var viewbagname = Convert.ToString(ViewBag.TemplatesName);
	var backUrl = Request.UrlReferrer != null ?  Request.UrlReferrer.PathAndQuery : "";
	var HideAction = GeneratorBase.MVC.Models.CustomHelperMethod.ShowHideAction("T_ExportDataDetails");
	var NonViewableProperties = User.CanNotView("T_ExportDataDetails");
	var proplstgroupby = modelproperties.Where(p => p.Proptype.ToLower() == "group").GroupBy(p => p.PropText);
	List<string> groupcontaininginlinegrid = new List<string>();   


	string lstHiddenGroupFLS = GeneratorBase.MVC.Models.CustomHelperMethod.HideGroupsForFLSHiddenBR(NonViewableProperties, hiddenProperties, proplstgroupby, "T_ExportDataDetails", User, groupcontaininginlinegrid);
	
	}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_ExportDataDetails", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly"};
    }
   object getHtmlAttributesForCheckBox(string Property)
    {
        if (User.CanEdit("T_ServiceMember", Property))
        {
            return null;
        }
        return new {@disabled = "@disabled" };
    }
}
@if (string.IsNullOrEmpty(wizardid))
{
<script>
window.onload = function(){
	JumpToTab('@User.JavaScriptEncodedName@Model.Id'); 
}
</script>
}
<script>
    $(document).ready(function () {
        try {
     LockHostDropdownOnEdit('@Convert.ToString(ViewData["AssociatedType"])');
			$("[inlinegrid]").each(function() {
                //$(this).click();
				 eval($(this).attr('onclick'));
			    var targetpanel = $(this).attr('id').replace('dvGroup','');
			    $('#'+targetpanel).removeClass('fade in');
            });
        }
        catch (ex) { }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsIsSetValueUIRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ExportDataDetailsRestrictDropdownValueRule))
    {
        @Html.Raw(ViewBag.T_ExportDataDetailsRestrictDropdownValueRule);
    }
}
	<style>
.formbuttonfix {
    margin-right: 4px;
	
   
}


.CEntityCount {
display:none !important;
}
</style>
@if (!string.IsNullOrEmpty(wizardid))
    {
<style>
.formbuttonfix {
    
	float:right!important;
	margin-right:5px !important; 
	padding:4px 18px!important; 
   
}
    .hide {
        display: none !important;
    }

    .show {
        display: block !important;
    }

    .pager li {
        display: inline;
    }

	.pager {
    padding-left: 0;
    margin: 8px 0;
    list-style: none;
    text-align: center;
	}

	.nav-tabs .nav-item {
		margin-bottom: -0px!important;
	}

        .pager li > a, .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px !important;
        }

    .next a {
        float: right;
    }

    .previous a {
        float: left;
    }	
</style>
}

<div class="content-heading">
    <div class="TitleName">
	<strong><a href="@Url.Action("Index")">@EntityDisplayName Edit</a>
	<small id="HostingEntityDisplayValue" class="EntityDisplayName" title="@Html.DisplayFor(model => model.DisplayValue)">
	     @Html.DisplayFor(model => model.DisplayValue)
    	</small></strong></div>
	 @if (string.IsNullOrEmpty(wizardid))
        { 
	    <div class="ml-auto">
       @if (ViewBag.IsPartial == null && !HideAction && EditPermission)
	 {
			   <div class="btn-group float-right" style="margin-left:8px;">
			              <a data-toggle="dropdown" class="btn btn-secondary btn-xs dropdown-toggle " alt="Action" title="Action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Action
            </a>
			<ul class="dropdown-menu multi-level">
 @if (EditPermission)
                    {
				<li class="dropdown-item">
                   
                        <a href="@Url.Action("Edit","T_ExportDataDetails", new { id = Model.Id,  UrlReferrer = backUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="fa fa-edit"></i>  Edit</a>
                    
                </li> 
				}            
 @if (EditPermission && User.CanDelete("T_ExportDataDetails"))
                    {
				<li class="dropdown-item">
                   
                        <a href="@Url.Action("Delete", "T_ExportDataDetails", new {UrlReferrer = backUrl, id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="fa fa-trash"></i>  Delete</a>
                    
                </li>
				}
  @if (((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox").Count() > 0)
                {
                    <li class="dropdown-item">
                    <a data-original-title="Generate Document" data-toggle="modal" data-target="#addGenerateDocument"> Generate Document</a>
                        </li>
                }
			</ul>
		</div>
}
			@if (ViewBag.IsPartial == null && EditPermission && ViewBag.EntityT_ExportDataDetailsDisplayValueEdit != null && !HideAction)
			{	
				<div class="pull-right">
					<button class="btn btn-info btn-xs pull-right" id="nextEdit" onclick="@Html.Raw("nextFunEdit('T_ExportDataDetails',event,'hdnNextPrevId')")" alt="Next" title="Next" style="height:23px;border-radius:0px !important;"><i class="fa fa-chevron-right"></i></button>
					@Html.DropDownList("EntityT_ExportDataDetailsDisplayValueEdit", null, null, new { @onchange = "FillDisplayValueEditPage('T_ExportDataDetails','frmT_ExportDataDetails','" + Model.Id + "',event)", @class = "pull-right", @Style = "height: 23px;width: 170px; font-size:12px;" })
					<button class="btn btn-info btn-xs pull-right" id="prevEdit" onclick="@Html.Raw("prevFunEdit('T_ExportDataDetails',event,'hdnNextPrevId')")" alt="Prev" title="Prev" style="height:23px;border-radius:0px !important;"><i class="fa fa-chevron-left"></i></button>
				</div>
			}
    </div>
	}
</div>


	
<input type="hidden" id="ErrMsg" />
<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>
   @Html.Partial("~/Views/Shared/ErrorTemplate.cshtml")
    <a id="seturlT_ExportDataDetails" dataurl="@Html.Raw(Url.Action("GetPropertyValueByEntityId", "T_ExportDataDetails")).ToHtmlString()"></a>
    <div class="tabs-container">
    <ul class="nav nav-tabs tabellipsis" @(!string.IsNullOrEmpty(wizardid) ? "style=display:none;" : "")>
	 <li class="nav-item">
	 <a class="nav-link active" href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab" alt="Details" title="Details">
	 Details</a>
	 </li>

@if (User.CanView("JournalEntry")) 
{
		 <li class="nav-item" @(!User.CanView("JournalEntry")?"style=display:none;":"")>
		 <a class="nav-link"  onclick="LoadTab('JournalEntryToT_ExportDataDetailsRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, RelatedEntityRecords = "T_ExportDataDetails", HostingEntity = "T_ExportDataDetails", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_ExportDataDetailsRelation" data-toggle="tab" alt="Export Data Details Journal" title="Export Data Details Journal">
		 Export Data Details Journal
		 </a></li>
		 }

    </ul>
		<div id="tabcontent" class=@(string.IsNullOrEmpty(wizardid)?"tab-content":"d-none")>
        <div class="tab-pane fade show active" id="Details">
@using (Html.BeginForm("Edit","T_ExportDataDetails",new {UrlReferrer =Convert.ToString(ViewData["T_ExportDataDetailsParentUrl"]), viewmode = viewmode}, FormMethod.Post, new { enctype = "multipart/form-data",@id="frmT_ExportDataDetails" }))
{
    if (!string.IsNullOrEmpty(wizardid))
	{ @Html.ValidationSummary(false, "", new { @class = "text-danger d-none" }) }
	else { Html.ValidationSummary(true);}
	Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
	if (NonViewableProperties != null) 
	{ 
	@Html.Hidden("cannotViewProperties", Html.Raw(string.Join(",", NonViewableProperties)))
	}
	
	<div class="text-danger validation-summary-errors" id="errorSummDiv" style="display:none;">
</div>
<div class="AppForm" @wizardid>
	@if (!string.IsNullOrEmpty(wizardid))
    {
        <ul id="olwizard" class="nav" role="tablist">
           		<li role="tab" class="nav-item" id="liGroupT_ExportDataDetailsBasicInformation">
		 <a href="#wzGroupT_ExportDataDetailsBasicInformation" class="hidden-phone">Basic Information</a>
		</li>

           
            
        </ul>
        <script>
            $(document).ready(function(){
                $(".formbuttonfix:not([dataurl]").hide();
                $(".pager").show();
                $(".pager.bwizard-buttons").show();
				$("ol#olwizard").removeClass("d-none");
				$("#tabcontent").removeClass("d-none");
            });
        </script>
		@Html.Hidden("wizardstep", ViewData["wizardstep"])
    }
	<div>		
					<div class="row bgwizard" id="wzGroupT_ExportDataDetailsBasicInformation">
												<div class="col-md-12 col-sm-12 col-xs-12" id="accordion">
                                    <div class="card card-default" id="dvGroupT_ExportDataDetailsBasicInformation">
                                        <div class="card-header clearfix">
                                         <!--  <i class="icon-calendar"></i> -->

 
											
									<h3 class="card-title" alt="Basic Information" title="Basic Information">Basic Information
                           


</h3>
								</div>
                                <div class="card-body row">
						@if(User.CanView("T_ExportDataConfiguration") && !NonViewableProperties.Contains("T_ExportDataConfigurationExportDataDetailsAssociationID") && !hiddenProperties.Contains("T_ExportDataConfigurationExportDataDetailsAssociationID"))
								{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ExportDataConfigurationExportDataDetailsAssociationID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 float-left col-xs-12" >
							@Html.LabelFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID) </label>
							<div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_ExportDataDetails", "T_ExportDataConfigurationExportDataDetailsAssociationID"))
		{
			@Html.DropDownList("T_ExportDataConfigurationExportDataDetailsAssociationID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_ExportDataConfiguration" , @uipropertyinfo = Html.Raw( ViewBag.T_ExportDataConfigurationExportDataDetailsAssociationUIProp) , @dataurl = Url.Action("GetAllValue", "T_ExportDataConfiguration",new { caller = "T_ExportDataConfigurationExportDataDetailsAssociationID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID, new { @class = "form-control" })
			@Html.DropDownList("T_ExportDataConfigurationExportDataDetailsAssociationID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_ExportDataConfiguration" , @uipropertyinfo = Html.Raw( ViewBag.T_ExportDataConfigurationExportDataDetailsAssociationUIProp), @dataurl = Url.Action("GetAllValue", "T_ExportDataConfiguration",new { caller = "T_ExportDataConfigurationExportDataDetailsAssociationID" }) })
		}
																			 @if (User.CanView("T_ExportDataConfiguration"))
                                                    {
													var canEdit= User.CanEdit("T_ExportDataConfiguration");
													var icon = canEdit ? "pencil-alt" : "eye";
                                                    if (Model.t_exportdataconfigurationexportdatadetailsassociation != null)
                                                        {
														<div class="DisplayCard_T_ExportDataConfigurationExportDataDetailsAssociation input-group-append" id="dvLinkToT_ExportDataConfiguration">
                                                            @*<a class="btn btn-default btn ie8fix" id="aLinkToT_ExportDataConfiguration" target="_blank" href="@Url.Action(canEdit ? "Edit" : "Details", "T_ExportDataConfiguration", new { Id = Html.DisplayFor(model => model.t_exportdataconfigurationexportdatadetailsassociation.Id).ToString(), UrlReferrer=backUrl}, null)"><i class="fa fa-@icon"></i></a>*@
                                                            <div class="btn btn-default btn ie8fix">
                                                                <i class="fa fa-info-circle"></i>
                                                            </div>
															  <script>
                                    var timer;
                                    $('.DisplayCard_T_ExportDataConfigurationExportDataDetailsAssociation').hover(function () {

									var url='@Html.Raw(Url.Action("PopupCard", "T_ExportDataConfiguration"))'+ "?id=" + $("#T_ExportDataConfigurationExportDataDetailsAssociationID").val();
                                        PopupLinkToCard(this,url ,'@Model.Id');
                                        clearTimeout(timer);
                                        timer = setTimeout(function () {
                                            $('.DisplayCardOpenClose').show();
                                        }, 4000);
                                    }, function () {
                                            $('.DisplayCardOpenClose').remove();
                                        });
                                                                </script>
                                                        </div>
                                                        }
                                                    }
                                        							</div>
							</div>
                        </div>
						@Html.ValidationMessageFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID )
                    </div>
					} else {if(!NonViewableProperties.Contains("T_ExportDataConfigurationExportDataDetailsAssociationID")){ @Html.HiddenFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID, new { @class = "form-control" })}}
@if(!NonViewableProperties.Contains("T_ChildEntity") && !hiddenProperties.Contains("T_ChildEntity"))
{
					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ChildEntity">
							<div class='form-group' title="Entity">
								<label class="col-sm-5 col-md-5 float-left col-xs-12" >@Html.LabelFor(model => model.T_ChildEntity) </label>
                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
								@Html.TextAreaFor(model => model.T_ChildEntity, getHtmlAttributes("T_ChildEntity"))
								
	
								</div>
                             </div>
							 @Html.ValidationMessageFor(model => model.T_ChildEntity)
						</div>
} else {if(!NonViewableProperties.Contains("T_ChildEntity")){ @Html.HiddenFor(model => model.T_ChildEntity, new { @class = "form-control" })}}
@if(!NonViewableProperties.Contains("T_ParentEntity") && !hiddenProperties.Contains("T_ParentEntity"))
{
					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ParentEntity">
							<div class='form-group' title="Parent Entity">
								<label class="col-sm-5 col-md-5 float-left col-xs-12" >@Html.LabelFor(model => model.T_ParentEntity) </label>
                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
								@Html.TextAreaFor(model => model.T_ParentEntity, getHtmlAttributes("T_ParentEntity"))
								
	
								</div>
                             </div>
							 @Html.ValidationMessageFor(model => model.T_ParentEntity)
						</div>
} else {if(!NonViewableProperties.Contains("T_ParentEntity")){ @Html.HiddenFor(model => model.T_ParentEntity, new { @class = "form-control" })}}
@if(!NonViewableProperties.Contains("T_AssociationName") && !hiddenProperties.Contains("T_AssociationName"))
{
					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AssociationName">
							<div class='form-group' title="Association Name">
								<label class="col-sm-5 col-md-5 float-left col-xs-12" >@Html.LabelFor(model => model.T_AssociationName) </label>
                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
								@Html.TextAreaFor(model => model.T_AssociationName, getHtmlAttributes("T_AssociationName"))
								
	
								</div>
                             </div>
							 @Html.ValidationMessageFor(model => model.T_AssociationName)
						</div>
} else {if(!NonViewableProperties.Contains("T_AssociationName")){ @Html.HiddenFor(model => model.T_AssociationName, new { @class = "form-control" })}}
@if(!NonViewableProperties.Contains("T_IsNested") && !hiddenProperties.Contains("T_IsNested"))
{
								<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_IsNested">
						<div class="form-group" title="Is Nested">
                        <label class="col-sm-5 col-md-5 float-left col-xs-12" >
                            @Html.LabelFor(model => model.T_IsNested) 
                        </label>
						<div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
							     @if(Model.T_IsNested.HasValue)
                                    {
                                      @Html.CheckBox("T_IsNested", Model.T_IsNested.Value, getHtmlAttributesForCheckBox("T_IsNested"))
                                    }
                                    else
                                    {
                                    @Html.CheckBox("T_IsNested",false, getHtmlAttributesForCheckBox("T_IsNested"))
									}
                            
                        </div>
						</div>
						@Html.ValidationMessageFor(model => model.T_IsNested)
                    </div>
				} else {if(!NonViewableProperties.Contains("T_IsNested")){ @Html.HiddenFor(model => model.T_IsNested, new { @class = "form-control" })}}
@if(!NonViewableProperties.Contains("T_Hierarchy") && !hiddenProperties.Contains("T_Hierarchy"))
{
					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Hierarchy">
							<div class='form-group' title="Hierarchy">
								<label class="col-sm-5 col-md-5 float-left col-xs-12" >@Html.LabelFor(model => model.T_Hierarchy) </label>
                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
								@Html.TextAreaFor(model => model.T_Hierarchy, getHtmlAttributes("T_Hierarchy"))
								
	
								</div>
                             </div>
							 @Html.ValidationMessageFor(model => model.T_Hierarchy)
						</div>
} else {if(!NonViewableProperties.Contains("T_Hierarchy")){ @Html.HiddenFor(model => model.T_Hierarchy, new { @class = "form-control" })}}
							</div>
                         </div>
                      </div>
       </div>

                   
	@if (!string.IsNullOrEmpty(wizardid))
    {
       
    }    
		</div>	
		</div>
		<div class="@footerclassdiv1">
		<div class="@footerclassdiv2">	
		 @Html.AntiForgeryToken()
                
                    <a id="btnformcancel" class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index", "T_ExportDataDetails")');" alt="Cancel" title="Cancel">Cancel</a>
                
		 @if (EditPermission)
         {
 				
					<input type="submit" id="btnsavereturn" name="command" value="Save" class="btn btn-primary btn-sm pull-left formbuttonfix"  alt="Save" title="Save"/>
				
			if (ViewBag.IsPartial == null)
			{
				<input type="submit" id="sevranBtnEdit" style="display:none;" name="command" value="SaveNextPrev" alt="SaveNextPrev" title="SaveNextPrev"/>
				<input type="submit"  id="btnsavestay" name="command" value="Save & Stay" class="btn btn-primary btn-sm pull-left formbuttonfix" alt="Save & Stay" title="Save & Stay" />
			}
				<input type="hidden" name="hdncommand" value="" />
				<input type="hidden" name="hdnNextPrevId" value="" />
}
@foreach (var item in (List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates)
{
	if (item.T_DisplayType == "Button")
	{
        var isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false;
        var ispreview = item.T_EnablePreview.HasValue ? item.T_EnablePreview.Value : false;
        if (ispreview)
                            {
        <a class="btn btn-primary btn-sm pull-left formbuttonfix" style="fore-color:@item.T_FontColor!important;background-color:@item.T_BackGroundColor!important;" data-placement="top" data-original-title="@item.T_Name" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntityBR('addPopup','"+Model.DisplayValue+"','dvPopup','" + Url.Action("ViewPDF", "T_ExportDataDetails", new { id=Model.Id, DocumentId=item.T_Document, documentName=item.T_Name, outputFormat=item.T_DefaultOutputFormat, isdownload=false, ispreview=true }) + "')")" alt="@item.T_Name" title="@item.T_Name">
            <i class="fa fa-file-pdf"></i> @item.T_Name
        </a>
                            }
                            else
                            {
        
	    <a class="btn btn-primary btn-sm pull-left formbuttonfix" style="fore-color:@item.T_FontColor!important;background-color:@item.T_BackGroundColor!important;" id="vrb1_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" onclick=GenerateDocumentFromButton(this,'@isdownload'); dataurl="@Url.Action("GenerateDocument", "T_ExportDataDetails", new { id = Model.Id, DocumentId = item.T_Document, documentName = item.T_Name, outputFormat = item.T_DefaultOutputFormat, isdownload = isdownload, ispreview = ispreview }, null)"> @item.T_Name</a>
        }
	}
}
@if (((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox").Count() > 0)
{ 
<div class="modal fade" id="addGenerateDocument" tabindex="-1" role="dialog" aria-labelledby="addGenerateDocumentLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addGenerateDocumentLabel">Generate Document</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="cancelQuickAdd();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="row col-md-12 col-sm-12 col-xs-12" id="dvGroupGenerateDocument">
                                    @foreach (var item in ((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox"))
                                    {
										var isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false;
                                        <div class="col-sm-4">
                                            <input type="checkbox" verbName="_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" name="SelectedGenerateDocumentTemplate" @(isdownload?"download=true":"download:false") dataurl='@Url.Action("GenerateDocument", "T_ExportDataDetails", new { id = Model.Id, DocumentId = item.T_Document, documentName = item.T_Name, outputFormat = item.T_DefaultOutputFormat, isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false }, null)' /> @item.T_Name
                                        </div>
                                    }
                                </div>
                                <div class="card-body row pull-right">
								 <label id="lblGenerateDocument" class="text-primary"></label>
                                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default btn-sm" onclick="cancelQuickAdd();">Close</button>
                                    <a class="btn btn-primary btn-sm pull-right" style="margin-left:5px;" onclick="GenerateDocument(this,'dvGroupGenerateDocument','default');"> Generate</a>
                                    <a class="btn btn-primary btn-sm pull-right" style="margin-left:5px;" onclick="GenerateDocument(this,'dvGroupGenerateDocument','pdf');"> Generate (PDF)</a>
                                </div>
            </div>

            <div style="clear:both"></div>
        </div>
    </div>
</div>
<a class="btn btn-primary btn-sm pull-left formbuttonfix" id="vrb1GenerateDocument" data-original-title="Generate Document" data-toggle="modal" data-target="#addGenerateDocument"> Generate Document</a>
}
		@{List<string> hiddenVerb = new List<string>(); var Verblist = "";
		if (User.businessrules.Any(p => p.EntityName == "T_ExportDataDetails" && p.ActionTypeID.Contains(16)))
		{
			hiddenVerb = Model.ApplyHiddenVerbRule(User.businessrules, "T_ExportDataDetails");
			Verblist = string.Join(",", hiddenVerb.ToList());
		}
		if (User.businessrules.Any(p => p.EntityName == "T_ExportDataDetails" && p.ActionTypeID.Contains(16)))
		{
			 <script>HideVerbFromBR('@Verblist');</script>
		}
		}
  


@{var dropmenubottom = false;}          

<div class="pull-left formbuttonfix dropup" style="display:none" id="AddAssociationdropmenubottomT_ExportDataDetails">
<button type="button" class="btn btn-primary btn-sm" id="dropdownMenu1" data-toggle="dropdown" alt="Add Association" title="Add Association">
          <span class="fa fa-plus"></span> Add 
            
        </button>
		 <ul class="dropdown-menu BtnVerb" role="menu" aria-labelledby="dropdownMenu1" style="padding:0px; margin-bottom:5px;">
</ul>
</div>
@if(!dropmenubottom || !EditPermission)
{
    <script>
        $("#AddAssociationdropmenubottomT_ExportDataDetails").hide();
    </script>
}
</div></div>} @*end form*@
<div class="clearfix" style="clear:both; margin-bottom:8px"></div>
<div id="divDisplayBRmsgBeforeSaveProp1"></div>
<div id="divDisplayBRmsgMandatory1"></div>
<div id="divDisplayLockRecord1"></div>
<div id="divDisplayBRReadOnly1"></div>
<div id="divDisplayCodeFragment1"></div>
</div>
@if (string.IsNullOrEmpty(wizardid))
{
<div class="tab-pane fade in" id="JournalEntryToT_ExportDataDetailsRelation"></div>

}
</div> <!-- /tab-content -->
</div>
	<script>
    $(function () {
        ApplyAreYouSure();
    });
$('#printButton').click(function (evt) {
                evt.preventDefault();
                $('body').append('<iframe src="@Url.Action("Details", "T_ExportDataDetails", new { id = Model.Id, UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), viewtype = viewbagname }, null)" id="printIFrame" name="printIFrame" style="display:none;"></iframe>');
                $('#printIFrame').bind('load',
                    function () {
                        window.frames['printIFrame'].focus();
                        window.frames['printIFrame'].print();

                    }
                 );

            });
</script>
@{
    var businessruleforemailpage = User.businessrules.Where(p => p.EntityName == "T_ExportDataDetails").ToList();
    var isbrrequired = false;
    if (businessruleforemailpage != null && businessruleforemailpage.Count > 0)
    {
        isbrrequired = true;
    }
}
@{
	if (ViewBag.IsPartial == true)
	{
	 var typelist = string.Join(",", businessruleforemailpage.SelectMany(p => p.ActionTypeID).Distinct().ToList());
	 
		<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
        <script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>
        <script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    </script>
	<script>
					 function ApplyBusinessRule(form) {
				var flag = true;
				dataurl = "@Url.Action("businessruletype", "T_ExportDataDetails", new { ruleType = "OnEdit"})";
				flag = ApplyBusinessRuleOnSubmit(dataurl, "T_ExportDataDetails", false, "ErrMsg", form,"@typelist");
				//business rules on inline associations
				if (flag) {
					$("#frmT_ExportDataDetails").find(':input').removeAttr('disabled');
					$("#divDisplayBRmsgMandatory").hide();
            $("#divDisplayBRmsgBeforeSaveProp").hide();
            $("#divDisplayLockRecord").hide();
            $("#divDisplayBRReadOnly").hide();
				}
				return flag;
			}
</script>
}
}
@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_ExportDataDetails").ToList();
if ((businessrule != null && businessrule.Count > 0) )
{
	var typelist = string.Join(",", businessrule.SelectMany(p => p.ActionTypeID).Distinct().ToList());
    <script>
		$(document).ready(function () {
				document.getElementById("ErrMsg").innerHTML = "";
				var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";
 form = $("#frmT_ExportDataDetails");
				dataurl = "@Url.Action("businessruletype", "T_ExportDataDetails", new { ruleType = "OnEdit"})";
                ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "T_ExportDataDetails", false, "ErrMsg", form);
				//business rules on inline associations
				if('@ViewData["RecordReadOnly"]' != 'null' && '@isRecordReadOnly'=='True')
                  {
                        $(':input:not([readonly])', 'form').attr('disabled', 'disabled').attr('readonly', 'readonly').trigger("chosen:updated");
						$('.input-group-append').hide();
						$('.input-group-addon').hide();
						$("a.btnupload").each(function(index) {$(this).remove() });
                  }
    });
</script>
<script>
   $("form input[type=submit]").click(function() {
		var actionName = $(this).attr("actionName")
        if (actionName == undefined)
            actionName = $(this).val();
        $('input:hidden[name="hdncommand"]').val(actionName);
    });
    $("form").submit(function (event) {
	 $('[businessrule="mandatory"]').each(function () {
       $(this).removeAttr('required');
       });
	if (!$("#frmT_ExportDataDetails").valid()) return;
			$("#divDisplayBRmsgBeforeSaveProp").html("");
			$("#divDisplayBRmsgBeforeSaveProp1").html("");
			$("#divDisplayCodeFragment").html("");
			document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
            var dataurl = "";
            var form = "";
            var inlinecount = "0";
 form = $("#frmT_ExportDataDetails").serialize();
				 dataurl = "@Url.Action("businessruletype", "T_ExportDataDetails", new { ruleType = "OnEdit"})";
                 flag = ApplyBusinessRuleOnSubmit(dataurl, "T_ExportDataDetails", false, "ErrMsg", form,"@typelist");
  				 //business rules on inline associations
				  
			 if (flag)
				{
				                    
					 $("#frmT_ExportDataDetails").find(':input').removeAttr('disabled');
					}
					else
					{
						}
            return flag;
		});
</script>
}
 else
    {
       <script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmT_ExportDataDetails").valid()) return;
			$("#divDisplayBRmsgBeforeSaveProp").html("");
			$("#divDisplayBRmsgBeforeSaveProp1").html("");
			$("#divDisplayCodeFragment").html("");
        var $this = $(this);
                var actionName = $this.attr("actionName")
                if (actionName == undefined)
                    actionName = $this.val();
                $('input:hidden[name="hdncommand"]').val(actionName);
    });
	</script>
    }
}

<script type='text/javascript'>
$("input[datatype='Double']").addClass("pull-right text-right");
    $(document).ready(function () 
	{
				try {
		focusOnControl('frmT_ExportDataDetails');
        }
        catch (ex) { }
		ShowHelpIcon(@Html.Raw("'"+Url.Action("ShowHelpIcon", "PropertyHelpPage")+"'"),'T_ExportDataDetails','edit',false,'Export Data Details')
		 //instruction feature
         ShowInstructionLabel(@Html.Raw("'"+Url.Action("ShowInstructionLabel", "PropertyHelpPage")+"'"),'T_ExportDataDetails','edit',false,'Export Data Details')
		 var arrgroup = '@lstHiddenGroupFLS'.split(',');
            $.each( arrgroup, function( index, value ){
                $("#"+value).hide();
            });
    });
	</script>
	@if(ViewBag.IsPartial == null && EditPermission && ViewBag.EntityT_ExportDataDetailsDisplayValueEdit != null)
	{
	<script type='text/javascript'>
		 $(document).ready(function () {
			NextPrev("T_ExportDataDetails");
		});
	 </script>
	}
	
