@model GeneratorBase.MVC.Models.T_ExportDataDetails
@{
    ViewBag.Title = "Search";
	var parentUrl = new System.Collections.Specialized.NameValueCollection();
    if (Request.UrlReferrer != null)
    {
        parentUrl = HttpUtility.ParseQueryString(Request.UrlReferrer.Query);
    }
	Layout = null;
	var isHosted = ViewData["HostingEntity"] != null && ViewData["HostingEntityID"] != null? true : false;
    var HostingEntityName =Convert.ToString(ViewData["HostingEntity"]);
    var HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]);
    var AssociatedType = Convert.ToString(ViewData["AssociatedType"]);
}
	
<style>
        #WorkOrderGridQuery .form-group {
            margin-bottom: .3rem!important;
        }

        #WorkOrderGridQuery label {
            color: black !important;
            font-weight: 600;
        }

        #WorkOrderGridQuery .btn-default {
            color: #000;
            background: white;
            border: 2px solid #e3e6f0;
        }

        .panel,
        .panel-body {
            box-shadow: none;
            width: 100%;
        }

        .panel-group .panel-heading {
            padding: 0;
            border-top: 1px solid #e3e6f0;
            border-bottom: 1px solid #e3e6f0;
           
        }

            .panel-group .panel-heading a {
                display: block;
                padding: 6px 12px 2px 12px;
                text-decoration: none;
                position: relative;
                font-size: 0.9rem;
                color: black;
                font-weight:600;
            }

                .panel-group .panel-heading a:after {
                    content: '-';
                    float: right;
                }

                .panel-group .panel-heading a.collapsed:after {
                    content: '+';
                }

        .panel-group .panel-default {
            display:block!important;
        }
		.panel-group .panel-heading:hover {
background:#f3f5f9;
color:white!important;
}

    </style>
        <div id="T_ExportDataDetailsGridQuery"  style="width: 250px; float: left; margin-left: 12px;">
           <div class="col-md-12 col-sm-12 col-xs-12 p-0 col-sm-12 m-0 row mb-2" style="border: 2px solid #e3e6f0;">
<label style="font-weight:bold; padding-left:12px; padding-top:8px; font-size:16px;">Filter By</label>
                <div style="clear:both"></div>

                <a href="#" style="position:absolute; right:10px; top:10px; font-weight:600; display:none;">Clear All</a>

				<div class="panel-group" id="accordionGroupOpen" role="tablist" aria-multiselectable="true" style="width:100%">
@if (User.CanView("T_ExportDataConfiguration") && ViewData["HostingEntity"] == null)
                    {
					if (!(isHosted && HostingEntityName == "T_ExportDataConfiguration" && AssociatedType == "T_ExportDataConfigurationExportDataDetailsAssociation"))
                    { 
						
						<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingt_exportdataconfigurationexportdatadetailsassociation">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionGroupOpen" href="#collapseOpenT_ExportDataConfigurationExportDataDetailsAssociation" aria-expanded="false" aria-controls="collapseT_ExportDataConfigurationExportDataDetailsAssociation">
                                   @Html.LabelFor(model => model.T_ExportDataConfigurationExportDataDetailsAssociationID)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOpenT_ExportDataConfigurationExportDataDetailsAssociation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingT_ExportDataConfigurationExportDataDetailsAssociation">
                            <div class="panel-body">
							<div class='form-group col-md-12 col-sm-12 col-xs-12' title="Export Data Configuration" style="padding:8px 12px 6px 12px">
                                 <div class="input-group" id="dvt_exportdataconfigurationexportdatadetailsassociation">
                                    		
	 @Html.DropDownList("t_exportdataconfigurationexportdatadetailsassociation",ViewBag.t_exportdataconfigurationexportdatadetailsassociation != null ? (SelectList)ViewBag.t_exportdataconfigurationexportdatadetailsassociation :  new SelectList(new Dictionary<string,string>(), "Key", "Value"), new {   @multiple = "multiple", @HostingName = "T_ExportDataConfiguration", @dataurl = Url.Action("GetAllMultiSelectValue", "T_ExportDataConfiguration", new { caller = "T_ExportDataConfigurationExportDataDetailsAssociationID" }) })
                                </div>
								</div>
                            </div>
                        </div>
                    </div>


                             
                        
				}
		}
 

<div class='col-md-12 col-sm-12 col-xs-12 p-2 card-footer'>
<button onclick="RunQueryT_ExportDataDetails();" class="btn btn-primary">
                    Search
                </button>
				<button onclick="window.location.reload();" class="btn btn-secondary">
                    Reset
                </button>
				<button  onclick="$('#LoadT_ExportDataDetailsSetFSearchGrid').hide();"  class="btn btn-secondary pull-right">
                    Close
                </button>
                
				</div>
	</div>

	</div>
</div>
	 <script>
        $(document).ready(function () {
        $('select[multiple="multiple"]').each(function () {
            $(this).multiselect({
                buttonWidth: '100%',
                nonSelectedText: 'ALL'
            });
        });
    });
     if (GridQuery != undefined) {
        debugger;
        $('select[multiple="multiple"]', GridQuery).each(function () {
            if ($(this).val() != undefined && $(this).val() != null) {
                var idname = $(this).attr("id");
                $("#heading" + idname).find('a').click();
                $("#dv" + idname).find('button').click();
                SetFSearchDropdown($(this).val().toString(), idname);
                closeSel(this);
            }
        });
    }
    </script>
@if (ViewBag.TemplatesName == "CardIndexPartial")
{
    <script>
        function RunQueryT_ExportDataDetails() {
            var buttons = document.getElementsByName('RunQueryT_ExportDataDetails');
            for (var i = 0; i < buttons.length; i++)
                buttons[i].click();
        }
    </script>
}
else
{
	<script>
    function RunQueryT_ExportDataDetails() {
        url = '@Html.Raw(Url.Action("FSearch", new
        {
            HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
            HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
            AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
			viewtype = ViewBag.TemplatesName,
        }))';
        var search = false;
        $('.boolean', $("#T_ExportDataDetailsGridQuery")).each(function () {
            if ($(this).prop('checked') === true)
            {
                var idname = $(this).attr("id");
                url = addParameterToURL(url, idname, "true");
                search = true;
            }
        });
        $('select[multiple="multiple"]', $("#T_ExportDataDetailsGridQuery")).each(function () {
            if ($(this).val() != undefined && $(this).val() != null) {
                var idname = $(this).attr("id");
                url = addParameterToURL(url, idname, $(this).val());
                search = true;
            }
        });
        GridQuery = $("#T_EmployeeGridQuery");
		if ("@isHosted" == "True")
        {
            url = addParameterToURL(url, "@AssociatedType.ToLower()", "@HostingEntityID");
        }
        if(search)
            RefreshGridFSearch("T_ExportDataDetails", AntiSanitizeURLString(url))
    }    
</script>
}
  
