@model GeneratorBase.MVC.Models.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        @{
           ViewBag.Title = "Log in";
            Layout = null;
            var commonObj = GeneratorBase.MVC.Models.CommonFunction.Instance;
            var AppName = commonObj.AppName();
            var ApkUrl = commonObj.AppURL();
            var CreateAnAccount = commonObj.EnableCreateAnAccount();
            var CompanyProfile = commonObj.getCompanyProfile(User);
			var maintenancemode = commonObj.MaintenanceMode().ToLower() == "true" ? true : false;

			var url = Url.Content("~/logo/logo_white.png");
            if (HttpContext.Current.Request.Url.Host == "localhost")
            { url = Url.Content("~/logo/logo_white.png"); }
            var AppLogo = url;
            var urlbg = Url.Content("../logo/Loginbg.png");
            if (HttpContext.Current.Request.Url.Host == "localhost")
            { urlbg = Url.Content("~/logo/Loginbg.png"); }
            var LoginBg = urlbg;
            var AppLogoWidth = CompanyProfile.LogoWidth == null ? "155px" : CompanyProfile.LogoWidth;
            var AppLogoHeight = CompanyProfile.LogoHeight == null ? "29px" : CompanyProfile.LogoHeight;
            string apkname = ApkUrl.Replace(" ", "") + ".apk";

            if (!CompanyProfile.Logo.Contains("logo_white"))
            {
                AppLogo = Url.Action("DisplayLoginImage", "Account", new { id = Convert.ToInt64(CompanyProfile.Logo) });
            }
            if (!CompanyProfile.LoginBg.Contains("Loginbg"))
            {
                LoginBg = Url.Action("DisplayLoginImage", "Account", new { id = Convert.ToInt64(CompanyProfile.LoginBg) });
            }
        }
		@ViewBag.Title-@AppName.ToString()
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Content/css")
	<link href="@Url.Content("~/Content/" + commonObj.getTenantSiteScript(User))" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script>		
        function OpenQuickQddPopUp(dvName) {
            var url = $("#" + dvName).data("url");
            $("#" + dvName).load(url);
        }
    </script>
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<style>
        .modal-backdrop {
            position: relative;
        }

        .modal-header-login {
            padding: 15px;
            border-bottom: 1px solid #4197ca !important;
            min-height: 16.428571429px;
            background: #4197ca !important;
            color: white !important;
        }

        .modal-content-login {
            position: relative;
            background-color: #fff;
            border: 1px solid #62a8d1;
            border: 1px solid rgb(98, 168, 209);
            border-radius: 0px;
            -webkit-box-shadow: 0 3px 9px rgb(19, 57, 80);
            box-shadow: 0 3px 9px rgb(19, 57, 80);
            background-clip: padding-box;
            outline: 0;
        }

        .Bgcover {
            background-repeat: no-repeat !important;
            background-position: center center !important;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            -o-background-size: cover !important;
            background-size: cover !important;
        }
    </style>
    </head>
<body class="bg-gradient-primary">



    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5" style="margin-bottom:0px;">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background: url(@LoginBg);background-size: cover;background-position: center;"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <center>
                                            <img src="@AppLogo" alt="App Logo" style="width:@AppLogoWidth; height:@AppLogoHeight;" alt="Logo - @AppName.ToString()" title="Logo - @AppName.ToString()">
                                        </center>
                                        <h1 class="h4 text-gray-900 mb-4">@AppName.ToString()</h1>
                                    </div>
                                    <div class="user">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)

                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-user", @placeholder = "Email or Username", @autofocus = "autofocus", @autocomplete = "off", @alt = "Email or Username", @title = "Email or Username" })
                                                @Html.ValidationMessageFor(m => m.UserName)
                                            </div>
                                            <div class="form-group" style="position: relative;">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @placeholder = "Password", @autocomplete = "off", @alt = "Password", @title = "Password" })
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-user btn-block" id="Login" alt="Submit Sign-in Form" title="Submit Sign-in Form"> Sign-in </button>
                                            
                                            <div class="text-center">

                                                <a class="small" href="#" data-placement="top" data-original-title="Forgot Password" data-toggle="modal" data-target="#popupForgotPassword" onclick=@Html.Raw("OpenQuickQddPopUp('dvForgotPassword');") alt="Forgot Password" title="Forgot Password">Forgot Password?</a>

                                            </div>
											if (commonObj.PreventMultipleLogin().ToLower() == "yes")
                                            {
                                                <div class="text-center">
                                                        <label class="small">Logging in will disconnect all of your other sessions. </label>
                                                </div>
                                            }
											if (!string.IsNullOrEmpty(CreateAnAccount) && CreateAnAccount.ToLower() == "true")
                                            {
                                                <div class="text-center">
                                                    <a class="small" href="#" data-placement="top" data-original-title="Create an account" data-toggle="modal" data-target="#popupCreateanaccount" onclick=@Html.Raw("OpenQuickQddPopUp('dvCreateanaccount');") alt="Create an account" title="Create an account">Create an account!</a>
                                                </div>
                                            }
                                            //if (maintenancemode)
                                            //{
                                               //<h6 class="alert alert-mantainance" >
                                                    //<span class="fa fa-exclamation-triangle"></span> @commonObj.MaintenanceModeAlertMessage()
                                                //</h6>
                                            //}


                                        }
            
			</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <center style="margin-top:20px;">
            <a id="androidapp" href="~/@apkname" target="_self">
                <img style="width:auto" src="~/Content/images/downloadapk.png" alt="Download Android APK" title="download android apk">
            </a>
        </center>

		<div class="container">
       
        @if (CompanyProfile.LegalInformation != null || CompanyProfile.PrivacyPolicy != null
                || CompanyProfile.TermsOfService != null || CompanyProfile.ThirdParty != null || CompanyProfile.Emailto != null
                || CompanyProfile.CreatedBy != null)
        {
            var baseUri = commonObj.getBaseUri();
            <center>
                <br>
                <footer style="color:white">
                    <span>
                        @{var cntPipe = 0;}
                        @if (CompanyProfile.LegalInformationDisplay == "1" || CompanyProfile.LegalInformationDisplay == "2")
                        {
                            cntPipe++;
                            <a href="@Html.Encode(baseUri + CompanyProfile.LegalInformationLink)" target="_blank" alt="Legal Information" title="Legal Information" style="color:white">@CompanyProfile.LegalInformation</a>
                        }
                        @if (CompanyProfile.TermsOfServiceDisplay == "1" || CompanyProfile.TermsOfServiceDisplay == "2")
                        {
                            if (cntPipe > 0)
                            {
                                <span>|</span>;
                            }
                            else
                            {
                                cntPipe++;
                            }
                            <a href="@Html.Encode(baseUri + CompanyProfile.TermsOfServiceLink)" target="_blank" alt="Terms Of Service" title="Terms Of Service" style="color:white">
                                @CompanyProfile.TermsOfService
                            </a>
                        }
                        @if (CompanyProfile.PrivacyPolicyDisplay == "1" || CompanyProfile.PrivacyPolicyDisplay == "2")
                        {
                            if (cntPipe > 0)
                            {
                                <span>|</span>;
                            }
                            else
                            {
                                cntPipe++;
                            }
                            <a href="@Html.Encode(baseUri + CompanyProfile.PrivacyPolicyLink)" target="_blank" alt="Privacy Policy" title="Privacy Policy" style="color:white">
                                @CompanyProfile.PrivacyPolicy
                            </a>
                        }
                        @if (CompanyProfile.ThirdPartyDisplay == "1" || CompanyProfile.ThirdPartyDisplay == "2")
                        {
                            if (cntPipe > 0)
                            {
                                <span>|</span>;
                            }
                            else
                            {
                                cntPipe++;
                            }
                            <a href="@Html.Encode(baseUri + CompanyProfile.ThirdPartyLink)" target="_blank" alt="@CompanyProfile.ThirdParty" title="@CompanyProfile.ThirdParty" style="color:white">
                                @CompanyProfile.ThirdParty
                            </a>
                        }
                    </span>
                    <p>&copy; Generated With <a href="@CompanyProfile.CreatedByLink" target="_blank" alt="http://www.turanto.com" title="http://www.turanto.com" style="color:white">@CompanyProfile.CreatedByName</a></p>
                </footer>
            </center>
        }
        else
        {
            <center>
                <br>
                <footer style="color:white">
                    <p>&copy; Generated With Turanto</p>
                </footer>
            </center>
        }
    </div>
    <footer class="footer navbar-fixed-bottom" style="color:white">
        <center>
            @Html.Raw(CompanyProfile.Disclaimer)
        </center>
    </footer>
 <div style="position:absolute;bottom:0px; width:100%" class="supported">
        <div class="mx-auto text-center" style="width:100%">
            <div class="alert alert-secondary font-weight-bold m-0 mb-0 p-1" style="font-size:18px;border-radius:0px;">
                <i aria-hidden="true" class="fa fa-exclamation-triangle text-danger"></i> Internet Explorer not supported. Preferred browsers are Chrome and Edge.
            </div>
        </div>
    </div>
	<div class="modal fade" id="popupCreateanaccount" tabindex="-1" role="dialog" aria-labelledby="popupCreateanaccountLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
				 <h4 class="modal-title" id="popupCreateanaccountLabel">Create an account</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>                   
                </div>
                <div class="modal-body">
                    <div id="dvCreateanaccount" data-url="@Url.Action("Register", "Account", null)">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="popupForgotPassword" tabindex="-1" role="dialog" aria-labelledby="popupForgotPasswordLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
				 <h4 class="modal-title" id="popupForgotPasswordLabel"> Forgot Password</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>                   
                </div>
                <div class="modal-body">
                    <div id="dvForgotPassword" data-url="@Url.Action("ForgotPassword", "Account", null)">
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="modal fade" id="PopupSubmission" tabindex="-1" role="dialog" aria-labelledby="PopupSubmissionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 id="PopupSubmissionLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="dvPopupSubmission">
                        <h4 class="text-center SubmissionHeader"></h4>
                    </div>
                    <br />
                    <div class="text-center">
                        <button type="button" id="okPopupSubmission" class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true" style="width:100px" onclick="return true;">Ok</button>
                        <button type="button" id="closePopupSubmission" class="btn btn-default btn-lg" data-dismiss="modal" aria-hidden="true" onlick="return false;" style="width:100px">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
        <!-- /container -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
		<script>
            $("button[type='submit']").click(function () {
                if ('@User.Original.Identity.IsAuthenticated' == 'True') {
                    var r = confirm("You are already logged in as @User.Original.Identity.Name in other tab. Press OK to continue Login or Logout from other tabs.");
                    if (r == true) {
                        window.location.replace('@Url.Action("Index","Home")'); return false;
                    } else {
                        location.reload(true);
                        return false;
                    }
                }
            });
        </script>
 @if (Request != null && (Request.Browser.Browser == "IE" || Request.Browser.Browser == "InternetExplorer" ))
    {
    <script>

        $(document).ready(function () {
            OpenCustomPopUp("<i class='fa fa-exclamation-triangle text-danger'></i> Internet Explorer is not supported !", "<span class='text-danger'> Please Use Google Chrome or Microsoft Edge.</span>", "Ok", "");
            $("#Login").attr('disabled', 'disabled');
            $('a').css('cursor', 'default');
        });
    </script>
    }

        <script type="text/javascript">
        $(document).ready(function () {
            $("#top-bar a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            detectmob();
        });
        function detectmob() {
            if (navigator.userAgent.match(/Android/i)) {
                document.getElementById("androidapp").style.visibility = "visible";
            }
            else
                document.getElementById("androidapp").style.display = "none";
            //else if (navigator.userAgent.match(/webOS/i)) { }
            //else if (navigator.userAgent.match(/iPhone/i)) { }
            //else if (navigator.userAgent.match(/iPad/i)) { }
            //else if (navigator.userAgent.match(/iPod/i)) { }
            //else if (navigator.userAgent.match(/BlackBerry/i)) { }
            //else if (navigator.userAgent.match(/Windows Phone/i)) { }
            //if (window.localStorage.getItem("fromapk") == "true")
            //    document.getElementById("androidapp").style.visibility = "hidden";
        }
   function OpenCustomPopUp(header, msg, ok, close) {
                    $('#PopupSubmissionLabel').html(header);
                    $("#" + "PopupSubmission").modal('show');
                    $("#" + "PopupSubmission").find('.modal-dialog.ui-draggable').attr("style", "width:50%");
                    if (ok.length > 0)
                        $("#okPopupSubmission").html(ok);
                    else $("#okPopupSubmission").hide();
                    if (close.length > 0)
                        $("#closePopupSubmission").html(close);
                    else $("#closePopupSubmission").hide();
                    $("#" + "dvPopupSubmission").html(msg);
                }
    </script>
    </body>
</html>
 
