@model GeneratorBase.MVC.Models.VerbGroup
@using PagedList;
@{
    ViewBag.Title = "Edit Verb Group";
    var EditPermission = User.CanEditItem("VerbGroup", Model, User);
    //var DeletePermission = User.CanDeleteItem("VerbGroup", Model, User);
    var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "VerbGroup");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Verb Group";
    var modelproperties = EntityDisplayNameReflector.Properties;
    if (ViewBag.IsPartial != null && ViewBag.IsPartial == true)
    {
        Layout = null;
    }

    List<string> hiddenProperties = new List<string>();
    if (User.businessrules.Any(p => p.EntityName == "VerbGroup" && p.ActionTypeID.Contains(6)))
    {
        hiddenProperties = Model.ApplyHiddenRule(User.businessrules, "VerbGroup", true);
    }
    bool isRecordReadOnly = false;
    if (ViewData["RecordReadOnly"] != null && Convert.ToBoolean(ViewData["RecordReadOnly"]) == true)
    {
        isRecordReadOnly = true;
        ViewData["RecordReadOnly"] = true;
    }
    var viewmode = Convert.ToString(ViewData["viewmode"]);
    string wizardid = "";
    string footerclassdiv1 = "card ButtonFooter";
    string footerclassdiv2 = "card-footer container-fluid";
    if (viewmode == "wizard")
    {
        footerclassdiv1 = footerclassdiv2 = "";
        wizardid = "id=smartwizard";
    }
    var BackUrl = Request.Url.PathAndQuery;

    var viewbagname = Convert.ToString(ViewBag.TemplatesName);
    var backUrl = Request.UrlReferrer != null ? Request.UrlReferrer.PathAndQuery : "";
    var HideAction = GeneratorBase.MVC.Models.CustomHelperMethod.ShowHideAction("VerbGroup");
    var NonViewableProperties = User.CanNotView("VerbGroup");
    var proplstgroupby = modelproperties.Where(p => p.Proptype.ToLower() == "group").GroupBy(p => p.PropText);
    List<string> groupcontaininginlinegrid = new List<string>();


    string lstHiddenGroupFLS = GeneratorBase.MVC.Models.CustomHelperMethod.HideGroupsForFLSHiddenBR(NonViewableProperties, hiddenProperties, proplstgroupby, "VerbGroup", User, groupcontaininginlinegrid);
}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("VerbGroup", Property))
        {
            return new { @class = "form-control" };
        }
        return new { @class = "form-control", @readonly = "readonly" };
    }
    object getHtmlAttributesForCheckBox(string Property)
    {
        if (User.CanEdit("VerbGroup", Property))
        {
            return null;
        }
        return new { @disabled = "@disabled" };
    }
}
@if (string.IsNullOrEmpty(wizardid))
{
    <script>
window.onload = function(){
	JumpToTab('@User.JavaScriptEncodedName@Model.Id');
}
    </script>
}
<script>
    $(document).ready(function () {
        try {
     LockHostDropdownOnEdit('@Convert.ToString(ViewData["AssociatedType"])');
			$("[inlinegrid]").each(function() {
                //$(this).click();
				 eval($(this).attr('onclick'));
			    var targetpanel = $(this).attr('id').replace('dvGroup','');
			    $('#'+targetpanel).removeClass('fade in');
            });
        }
        catch (ex) { }
$(".responsive-tabs").removeClass("open").addClass(" ");
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.VerbGroupIsGroupsHiddenRule))
    {
        <script>
        var ResetBaseUrl = '@Url.Action("ResetToDefault", new { id = Model != null ? Model.Id : 0, groupName = "_groupname" })';
        </script>
    }

}
@{
    if (!string.IsNullOrEmpty(ViewBag.VerbGroupIsHiddenRule))
    {
        <script>

             var ResetBaseUrlField = '@Url.Action("ResetToDefaultField", new { id = Model != null ? Model.Id : 0, fieldName = "_fieldname" })';
        </script>
    }

}
@{
    if (!string.IsNullOrEmpty(ViewBag.VerbGroupIsHiddenRule))
    {
        @Html.Raw(ViewBag.VerbGroupIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.VerbGroupIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.VerbGroupIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.VerbGroupIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.VerbGroupIsSetValueUIRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.VerbGroupRestrictDropdownValueRule))
    {
        @Html.Raw(ViewBag.VerbGroupRestrictDropdownValueRule);
    }
}
@using GeneratorBase.MVC.UIPropertyHtmlHelper;
<link href="@Url.Content("~/Content/dist/css/bootstrap-colorpicker.min.css")" rel="stylesheet" type="text/css" />
<style>
    .formbuttonfix {
        margin-right: 4px;
    }


    .CEntityCount {
        display: none !important;
    }
</style>
@if (!string.IsNullOrEmpty(wizardid))
{
    <style>
        .formbuttonfix {
            float: right !important;
            margin-right: 5px !important;
            padding: 4px 18px !important;
        }

        .hide {
            display: none !important;
        }

        .show {
            display: block !important;
        }

        .pager li {
            display: inline;
        }

        .pager {
            padding-left: 0;
            margin: 8px 0;
            list-style: none;
            text-align: center;
        }

        .nav-tabs .nav-item {
            margin-bottom: -0px !important;
        }

        .pager li > a, .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px !important;
        }

        .next a {
            float: right;
        }

        .previous a {
            float: left;
        }

        .vrbButtons {
            padding: 4px 40px !important;
            font-size: 20px;
            margin-top: -40px;
        }

        @@media (max-width: 767px) {


            .arrowCount {
                background-color: #1d5072 !important;
            }

            #dvGroupT_StudentPersonalInformation {
                margin-top: 10px !important;
            }

            .nav-tabs .nav-item.active a {
                display: block !important;
                border-color: #1d5072 !important;
                color: #fff !important;
                background: #1d5072 !important;
            }

                .nav-tabs .nav-item.active a:hover {
                    display: block !important;
                    border-color: #1d5072 !important;
                    color: #fff !important;
                    background: #1d5072 !important;
                }

            .sw-theme-arrows > ul.step-anchor {
                border-top-right-radius: 0 !important;
            }

                .sw-theme-arrows > ul.step-anchor > li.active > a {
                    display: block !important;
                }

                .sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
                    display: none !important;
                    color: #1d5072 !important;
                }

                .sw-theme-arrows > ul.step-anchor.open > li > a {
                    display: block !important;
                }

            .responsive-tabs .dropdown-arrow {
                border-color: #fff !important;
                display: block !important;
                z-index: 1000;
                position: absolute;
            }

            #WizardBtnCancel {
                margin-top: unset !important;
                float: unset !important;
                display: block !important;
                margin-right: 8px !important;
                margin-top: 3px !important;
            }
        }
    </style>
}

<div class="content-heading">
    <div class="TitleName">
        <strong>
            <a href="@Url.Action("RedirectToEntity","Home", new { EntityName="VerbGroup"})">@EntityDisplayName Edit</a>
            <small id="HostingEntityDisplayValue" class="EntityDisplayName" title="@Html.DisplayFor(model => model.DisplayValue)">
                @Html.LabelForUIProperty(Model, "Label")
            </small>
        </strong>
    </div>
    @if (string.IsNullOrEmpty(wizardid))
    {
        <div class="ml-auto">
            @if (ViewBag.IsPartial == null && !HideAction && EditPermission)
            {
                <div class="btn-group float-right" style="margin-left:8px;">
                    <a data-toggle="dropdown" class="btn btn-secondary btn-xs dropdown-toggle " alt="Action" title="Action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Action
                    </a>
                    <ul class="dropdown-menu multi-level">
                        @if (EditPermission)
                        {
                            <li class="dropdown-item">

                                <a href="@Url.Action("Edit","VerbGroup", new { id = Model.Id,  UrlReferrer = backUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="fa fa-edit"></i>  Edit</a>

                            </li>

                        }
                        @if (EditPermission && User.CanDelete("VerbGroup"))
                        {
                            <li class="dropdown-item">

                                <a href="@Url.Action("Delete", "VerbGroup", new {UrlReferrer = backUrl, id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="fa fa-trash"></i>  Delete</a>

                            </li>
                        }
                        @if (((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox").Count() > 0)
                        {
                            <li class="dropdown-item">
                                <a data-original-title="Generate Document" data-toggle="modal" data-target="#addGenerateDocument"> Generate Document</a>
                            </li>
                        }
                        <li class="divider" style="clear:both"></li>
                        <li class="dropdown-submenu dropdown-item pull-left" id="AddAssociationdropmenuVerbGroup">
                            @{ var dropmenu = false; }
                            <a class="" tabindex="-1" href="#">
                                <i class="fa fa-plus-circle"></i> Add
                            </a>
                            <ul class="dropdown-menu pull-left" style="left: 0px;top: 22px;">
                                @if (User.CanAdd("VerbsName"))
                                {
                                    dropmenu = true;
                                    <li class="dropdown-item">
                                        <a class="dropdown-link" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "VerbsName",
						new { UrlReferrer = Request.Url.PathAndQuery,
								AssociatedType ="VerbNameSelect",
							HostingEntityName = "VerbGroup",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
                                            <i class="fa fa-plus"></i>  Verbs Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        @if (!dropmenu)
                        {
                            <script>
                                $("#AddAssociationdropmenuVerbGroup").hide();
                            </script>
                        }
                    </ul>
                </div>
            }
            @if (ViewBag.IsPartial == null && EditPermission && ViewBag.EntityVerbGroupDisplayValueEdit != null && !HideAction)
            {
                <div class="pull-right">
                    <button class="btn btn-info btn-xs pull-right" id="nextEdit" onclick="@Html.Raw("nextFunEdit('VerbGroup',event,'hdnNextPrevId')")" alt="Next" title="Next" style="height:23px;border-radius:0px !important;"><i class="fa fa-chevron-right"></i></button>
                    @Html.DropDownList("EntityVerbGroupDisplayValueEdit", null, null, new { @onchange = "FillDisplayValueEditPage('VerbGroup','frmVerbGroup','" + Model.Id + "',event)", @class = "pull-right", @Style = "height: 23px;width: 170px; font-size:12px;" })
                    <button class="btn btn-info btn-xs pull-right" id="prevEdit" onclick="@Html.Raw("prevFunEdit('VerbGroup',event,'hdnNextPrevId')")" alt="Prev" title="Prev" style="height:23px;border-radius:0px !important;"><i class="fa fa-chevron-left"></i></button>
                </div>
            }
        </div>
    }
</div>


<input type="hidden" id="ErrMsg" />
<div id="errorContainerEdit" style="display: none">
    <div id="errorsMsgEdit"></div>
    <div id="errorsEdit"></div>
</div>
@Html.Partial("~/Views/Shared/ErrorTemplate.cshtml")
<a id="seturlVerbGroup" dataurl="@Html.Raw(Url.Action("GetPropertyValueByEntityId", "VerbGroup")).ToHtmlString()"></a>
<div class="tabs-container">
    <ul class="nav nav-tabs tabellipsis" @(!string.IsNullOrEmpty(wizardid) ? "style=display:none;" : "")>
        <li class="nav-item">
            <a class="nav-link active" href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab" alt="Details" title="Details">
                Details
            </a>
        </li>

        @if (User.CanView("VerbsName"))
        {
            <li class="nav-item">
                <a class="nav-link" id="dvGroupVerbNameSelect" onclick="LoadTab('VerbNameSelect','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "VerbsName", new { RenderPartial=true, HostingEntity ="VerbGroup", HostingEntityID = @Model.Id, AssociatedType = "VerbNameSelect",TabToken = DateTime.Now.Ticks,}))')" href="#VerbNameSelect" data-toggle="tab" alt="Verbs Name" title="Verbs Name">
                    Verbs Name
                    @if (ViewBag.VerbNameSelectCount != null)
                    {
                        <span class="badge bg-primary"><div id="dvcnt_VerbNameSelect">@ViewBag.VerbNameSelectCount</div></span>
                    }
                </a>
            </li>
        }

        @if (User.CanView("JournalEntry"))
        {
            <li class="nav-item" @(!User.CanView("JournalEntry") ? "style=display:none;" : "")>
                <a class="nav-link" onclick="LoadTab('JournalEntryToVerbGroupRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, RelatedEntityRecords = "VerbGroup", HostingEntity = "VerbGroup", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToVerbGroupRelation" data-toggle="tab" alt="Verb Group Journal" title="Verb Group Journal">
                    Verb Group Journal
                </a>
            </li>
        }

    </ul>
    <div id="tabcontent" class=@(string.IsNullOrEmpty(wizardid)?"tab-content":"d-none")>
        <div class="tab-pane fade show active" id="Details">
            @using (Html.BeginForm("Edit", "VerbGroup", new { UrlReferrer = Convert.ToString(ViewData["VerbGroupParentUrl"]), viewmode = viewmode }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmVerbGroup" }))
            {
                if (!string.IsNullOrEmpty(wizardid))
                {@Html.ValidationSummary(false, "", new { @class = "text-danger d-none" }) }
            else { Html.ValidationSummary(true); }
            Html.EnableClientValidation();
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ConcurrencyKey)
            if (NonViewableProperties != null)
            {
                @Html.Hidden("cannotViewProperties", Html.Raw(string.Join(",", NonViewableProperties)))
            }
            <div class="text-danger validation-summary-errors" id="errorSummDiv" style="display:none;">
            </div>
            <div class="AppForm tabs-container" @wizardid>
                @if (!string.IsNullOrEmpty(wizardid))
                {
                    <ul id="olwizard" class="nav nav-tabs responsive-tabs" role="tablist">
                        <li role="tab" class="nav-item" id="liGroupVerbGroupBasicInformation">
                            <a href="#wzGroupVerbGroupBasicInformation" class="hidden-phone">Basic Information</a>
                        </li>

                        <li role="tab" class="nav-item" id="liGroupVerbGroupUIInformation">
                            <a href="#wzGroupVerbGroupUIInformation" class="hidden-phone">UI Information</a>
                        </li>
                        <li role="tab" class="nav-item" id="liGroupVerbGroupInternalUse">
                            <a href="#wzGroupVerbGroupInternalUse" class="hidden-phone">Internal Use</a>
                        </li>
                    </ul>
                    <script>
                        $(document).ready(function () {
                            $(".formbuttonfix:not([dataurl]").hide();
                            $(".pager").show();
                            $(".pager.bwizard-buttons").show();
                            $("ol#olwizard").removeClass("d-none");
                            $("#tabcontent").removeClass("d-none");
                        });
                    </script>
                    @Html.Hidden("wizardstep", ViewData["wizardstep"])
                }
                <div>
                    <div class="row bgwizard" id="wzGroupVerbGroupBasicInformation">
                        <div class="col-md-12 col-sm-12 col-xs-12" id="accordion">
                            <div class="card card-default" id="dvGroupVerbGroupBasicInformation">
                                <div class="card-header clearfix">
                                    <!--  <i class="icon-calendar"></i> -->
                                    <h3 class="card-title" alt="Basic Information" title="Basic Information">
                                        Basic Information
                                    </h3>
                                </div>
                                <div class="card-body row">
                                    @if (!NonViewableProperties.Contains("EntityInternalName") && !hiddenProperties.Contains("EntityInternalName"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvEntityInternalName">
                                            <div class='form-group'>
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">
                                                    @Html.LabelFor(model => model.EntityInternalName)
                                                </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
                                                    <div class="input-group" style="width:100%;">
                                                        @if (User.CanEdit("VerbGroup", "EntityInternalName"))
                                                        {
                                                            @Html.DropDownList("EntityInternalName", null, "-- Select --", new { @class = "chosen-select form-control", @HostingName = "VerbGroup", @dataurl = Url.Action("GetAllValueEntity", "VerbGroup", new { caller = "EntityInternalName" }) })
                                                        }
                                                        else
                                                        {
                                                            @Html.HiddenFor(model => model.EntityInternalName, new { @class = "form-control" })
                                                            @Html.DropDownList("EntityInternalName", null, "-- Select --", new { @class = "chosen-select form-control", @disabled = "disabled", @HostingName = "VerbGroup", @dataurl = Url.Action("GetAllValueEntity", "VerbGroup", new { caller = "EntityInternalName" }) })
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.EntityInternalName)
                                        </div>
                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("EntityInternalName"))
                                        { @Html.HiddenFor(model => model.EntityInternalName, new { @class = "form-control" })}
                                }

                                    @if (!NonViewableProperties.Contains("Name") && !hiddenProperties.Contains("Name"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvName">
                                            <div class='form-group' title="Group Name">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.Name)  <span class="text-danger-reg">*</span> </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">

                                                    @Html.TextBoxFor(model => model.Name, getHtmlAttributes("Name"))

                                                </div>

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </div>

                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("Name"))
                                        { @Html.HiddenFor(model => model.Name, new { @class = "form-control" })}
                                }
                                    @if (!NonViewableProperties.Contains("GroupId") && !hiddenProperties.Contains("GroupId"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvUIGroupInternalName">
                                            <div class='form-group'>
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">
                                                    @Html.LabelFor(model => model.GroupId)
                                                </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
                                                    <div class="input-group" style="width:100%;">
                                                        @if (User.CanEdit("VerbGroup", "GroupId"))
                                                        {
                                                            @Html.DropDownList("GroupId", null, "-- Select --", new { @class = "form-control", @HostingName = "VerbGroup" })
                                                        }
                                                        else
                                                        {
                                                            @Html.HiddenFor(model => model.EntityInternalName, new { @class = "form-control" })
                                                            @Html.DropDownList("GroupId", null, "-- Select --", new { @class = "form-control", @disabled = "disabled" })
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.GroupId)
                                        </div>
                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("EntityInternalName"))
                                        { @Html.HiddenFor(model => model.EntityInternalName, new { @class = "form-control" })}
                                }

                                    @if (!NonViewableProperties.Contains("UIGroupInternalName") && !hiddenProperties.Contains("UIGroupInternalName"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvUIGroupInternalName" style="display:none;">
                                            <div class='form-group'>
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">
                                                    @Html.LabelFor(model => model.UIGroupInternalName)
                                                </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
                                                    <div class="input-group" style="width:100%;">
                                                        @if (User.CanEdit("VerbGroup", "UIGroupInternalName"))
                                                        {
                                                            @Html.DropDownList("UIGroupInternalName", null, "-- Select --", new { @class = "chosen-select form-control", @HostingName = "VerbGroup", @VerbGroupEntity = "EntityInternalName", @dataurl = Url.Action("GetAllValueGroup", "VerbGroup", new { caller = "UIGroupInternalName" }) })
                                                        }
                                                        else
                                                        {
                                                            @Html.HiddenFor(model => model.EntityInternalName, new { @class = "form-control" })
                                                            @Html.DropDownList("UIGroupInternalName", null, "-- Select --", new { @class = "chosen-select form-control", @disabled = "disabled", @VerbGroupEntity = "EntityInternalName", @HostingName = "VerbGroup", @dataurl = Url.Action("GetAllValueGroup", "VerbGroup", new { caller = "UIGroupInternalName" }) })
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.UIGroupInternalName)
                                        </div>
                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("EntityInternalName"))
                                        { @Html.HiddenFor(model => model.EntityInternalName, new { @class = "form-control" })}
                                }


                                    @if (!NonViewableProperties.Contains("DisplayOrder") && !hiddenProperties.Contains("DisplayOrder"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvDisplayOrder">
                                            <div class='form-group' title="">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.DisplayOrder)   </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">

                                                    @Html.TextBoxFor(model => model.DisplayOrder, getHtmlAttributes("DisplayOrder"))

                                                </div>

                                            </div>
                                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                                        </div>

                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("DisplayOrder"))
                                        { @Html.HiddenFor(model => model.DisplayOrder, new { @class = "form-control" })}
                                }

                                    @if (!NonViewableProperties.Contains("Flag1") && !hiddenProperties.Contains("Flag1"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvFlag1">
                                            <div class="form-group" title="Disable">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">
                                                    @Html.LabelFor(model => model.Flag1)
                                                </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
                                                    @if (Model.Flag1.HasValue)
                                                    {
                                                        @Html.CheckBox("Flag1", Model.Flag1.Value, getHtmlAttributesForCheckBox("Flag1"))
                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBox("Flag1", false, getHtmlAttributesForCheckBox("Flag1"))
                                                    }

                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Flag1)
                                        </div>
                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("Flag1"))
                                        { @Html.HiddenFor(model => model.Flag1, new { @class = "form-control" })}
                                }
                                    @if (!NonViewableProperties.Contains("Icon") && !hiddenProperties.Contains("Icon"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvIcon">
                                            <div class='form-group' title="">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.Icon)   </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">

                                                    @Html.TextBoxFor(model => model.Icon, getHtmlAttributes("Icon"))

                                                </div>

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Icon)
                                        </div>

                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("Icon"))
                                        { @Html.HiddenFor(model => model.Icon, new { @class = "form-control" })}
                                }
                                    @if (!NonViewableProperties.Contains("Description") && !hiddenProperties.Contains("Description"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvDescription">
                                            <div class='form-group' title="Description">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.Description) </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">
                                                    @Html.TextAreaFor(model => model.Description, getHtmlAttributes("Description"))


                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </div>
                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("Description"))
                                        { @Html.HiddenFor(model => model.Description, new { @class = "form-control" })}
                                }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row bgwizard" id="wzGroupVerbGroupUIInformation">
                        <div class="col-md-12 col-sm-12 col-xs-12" id="accordion">
                            <div class="card card-default" id="dvGroupVerbGroupUIInformation">
                                <div class="card-header clearfix">
                                    <!--  <i class="icon-calendar"></i> -->
                                    <h3 class="card-title" alt="UI Information" title="UI Information">
                                        UI Information
                                    </h3>
                                </div>
                                <div class="card-body row">
                                    @if (!NonViewableProperties.Contains("BackGroundColor") && !hiddenProperties.Contains("BackGroundColor"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvBackGroundColor">
                                            <div class='form-group' title="">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.BackGroundColor)   </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">

                                                    @Html.TextBoxFor(model => model.BackGroundColor, getHtmlAttributes("BackGroundColor"))

                                                    <span class="input-group-addon btn btn-default">
                                                        <i class="btn-primary" style="border-color:black;border-style:solid;border-width:1px;"></i>
                                                    </span>
                                                    <script>
                                                        $(function () { $('#dvBackGroundColor').colorpicker({ align: 'right', colorSelectors: {} }); });
                                                    </script>
                                                </div>

                                            </div>
                                            @Html.ValidationMessageFor(model => model.BackGroundColor)
                                        </div>

                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("BackGroundColor"))
                                        { @Html.HiddenFor(model => model.BackGroundColor, new { @class = "form-control" })}
                                }
                                    @if (!NonViewableProperties.Contains("FontColor") && !hiddenProperties.Contains("FontColor"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvFontColor">
                                            <div class='form-group' title="">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.FontColor)   </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">

                                                    @Html.TextBoxFor(model => model.FontColor, getHtmlAttributes("FontColor"))

                                                    <span class="input-group-addon btn btn-default">
                                                        <i class="btn-primary" style="border-color:black;border-style:solid;border-width:1px;"></i>
                                                    </span>
                                                    <script>
                                                        $(function () { $('#dvFontColor').colorpicker({ align: 'right', colorSelectors: {} }); });
                                                    </script>
                                                </div>

                                            </div>
                                            @Html.ValidationMessageFor(model => model.FontColor)
                                        </div>

                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("FontColor"))
                                        { @Html.HiddenFor(model => model.FontColor, new { @class = "form-control" })}
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bgwizard" id="wzGroupVerbGroupInternalUse" style="display:none;">
                        <div class="col-md-12 col-sm-12 col-xs-12" id="accordion">
                            <div class="card card-default" id="dvGroupVerbGroupInternalUse">
                                <div class="card-header clearfix">
                                    <!--  <i class="icon-calendar"></i> -->
                                    <h3 class="card-title" alt="Internal Use" title="Internal Use">
                                        Internal Use
                                    </h3>
                                </div>
                                <div class="card-body row">
                                    @if (!NonViewableProperties.Contains("InternalName") && !hiddenProperties.Contains("InternalName"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvInternalName">
                                            <div class='form-group' title="">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.InternalName)   </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">

                                                    @Html.TextBoxFor(model => model.InternalName, getHtmlAttributes("InternalName"))

                                                </div>

                                            </div>
                                            @Html.ValidationMessageFor(model => model.InternalName)
                                        </div>

                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("InternalName"))
                                        { @Html.HiddenFor(model => model.InternalName, new { @class = "form-control" })}
                                }


                                    @if (!NonViewableProperties.Contains("GroupId") && !hiddenProperties.Contains("GroupId"))
                                    {
                                        <div class='col-sm-6 col-md-6 col-xs-12' id="dvGroupId">
                                            <div class='form-group' title="">
                                                <label class="col-sm-5 col-md-5 float-left col-xs-12">@Html.LabelFor(model => model.GroupId)   </label>
                                                <div class="input-group col-sm-7 col-md-7 float-left col-xs-12">

                                                    @Html.TextBoxFor(model => model.GroupId, getHtmlAttributes("GroupId"))

                                                </div>

                                            </div>
                                            @Html.ValidationMessageFor(model => model.GroupId)
                                        </div>

                                    }
                                    else
                                    {
                                        if (!NonViewableProperties.Contains("GroupId"))
                                        { @Html.HiddenFor(model => model.GroupId, new { @class = "form-control" })}
                                }
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="@footerclassdiv1">
                <div class="@footerclassdiv2">
                    @Html.AntiForgeryToken()

                    <a id="btnformcancel" class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index", "VerbGroup")');" alt="Cancel" title="Cancel">Cancel</a>

                    @if (EditPermission)
                    {

                        <input type="submit" id="btnsavereturn" name="command" value="Save" class="btn btn-primary btn-sm pull-left formbuttonfix" alt="Save" title="Save" />

                        if (ViewBag.IsPartial == null)
                        {
                            <input type="submit" id="sevranBtnEdit" style="display:none;" name="command" value="SaveNextPrev" alt="SaveNextPrev" title="SaveNextPrev" />
                            <input type="submit" id="btnsavestay" name="command" value="Save & Stay" class="btn btn-primary btn-sm pull-left formbuttonfix" alt="Save & Stay" title="Save & Stay" />
                        }
                        <input type="hidden" name="hdncommand" value="" />
                        <input type="hidden" name="hdnNextPrevId" value="" />
                    }
                    @foreach (var item in (List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates)
                    {
                        if (item.T_DisplayType == "Button")
                        {
                            var isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false;
                            var ispreview = item.T_EnablePreview.HasValue ? item.T_EnablePreview.Value : false;

                            if (!string.IsNullOrEmpty(item.T_DefaultOutputFormat) && item.T_DefaultOutputFormat.ToLower() == "docx")
                            {
                                isdownload = true;
                                ispreview = false;
                            }
                            if (ispreview)
                            {
                                <a class="btn btn-primary btn-sm pull-left formbuttonfix" style="fore-color:@item.T_FontColor!important;background-color:@item.T_BackGroundColor!important;" id="vrb1_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" data-placement="top" data-original-title="@item.T_Name" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntityBR('addPopup','"+Model.DisplayValue+"','dvPopup','" + Url.Action("ViewPDF", "VerbGroup", new { id=Model.Id, DocumentId=item.T_Document, documentName=item.T_Name, outputFormat=item.T_DefaultOutputFormat, isdownload=false, ispreview=true }) + "')")" alt="@item.T_Name" title="@item.T_Name">
                                    <i class="fa fa-file-pdf"></i> @item.T_Name
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary btn-sm pull-left formbuttonfix vrbButtons" style="fore-color:@item.T_FontColor!important;background-color:@item.T_BackGroundColor!important;" id="vrb1_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" onclick="@Html.Raw("GenerateDocumentFromButton(this,'"+isdownload + "');")" dataurl="@Url.Action("GenerateDocument", "VerbGroup", new { id = Model.Id, DocumentId = item.T_Document, documentName = item.T_Name, outputFormat = item.T_DefaultOutputFormat, isdownload = isdownload, ispreview = ispreview }, null)"> @item.T_Name</a>
                            }
                        }
                    }
                    @if (ViewBag.ExportDataTemplates != null)
                    {
                        foreach (var item in (List<GeneratorBase.MVC.Models.T_ExportDataConfiguration>)ViewBag.ExportDataTemplates)
                        {
                            <a class="btn btn-primary btn-sm pull-left formbuttonfix" data-placement="top" data-original-title="@item.T_Name" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Note','dvPopup','" + Url.Action("ExportDataNote", "VerbGroup", new { btnid = item.Id, Ids = Model.Id, UrlReferrer = BackUrl, TS = DateTime.Now }) + "')")" alt="@item.T_Name" title="@item.T_Name">
                                @item.T_Name
                            </a>
                        }
                    }


                    @if (((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox").Count() > 0)
                    {
                        <div class="modal fade" id="addGenerateDocument" tabindex="-1" role="dialog" aria-labelledby="addGenerateDocumentLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="addGenerateDocumentLabel">Generate Document</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="cancelQuickAdd();">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row col-md-12 col-sm-12 col-xs-12" id="dvGroupGenerateDocument">
                                            @foreach (var item in ((List<GeneratorBase.MVC.Models.T_DocumentTemplate>)ViewBag.DocumentTemplates).Where(p => p.T_DisplayType == "CheckBox"))
                                            {
                                                var isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false;
                                                <div class="col-sm-4">
                                                    <input type="checkbox" verbName="_@string.Join("", item.T_Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))" name="SelectedGenerateDocumentTemplate" @(isdownload ? "download=true" : "download:false") dataurl='@Url.Action("GenerateDocument", "VerbGroup", new { id = Model.Id, DocumentId = item.T_Document, documentName = item.T_Name, outputFormat = item.T_DefaultOutputFormat, isdownload = item.T_EnableDownload.HasValue ? item.T_EnableDownload.Value : false }, null)' /> @item.T_Name
                                                </div>
                                            }
                                        </div>
                                        <div class="card-body row pull-right">
                                            <label id="lblGenerateDocument" class="text-primary"></label>
                                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default btn-sm" onclick="cancelQuickAdd();">Close</button>
                                            <a class="btn btn-primary btn-sm pull-right" style="margin-left:5px;" onclick="GenerateDocument(this,'dvGroupGenerateDocument','default');"> Generate</a>
                                            <a class="btn btn-primary btn-sm pull-right" style="margin-left:5px;" onclick="GenerateDocument(this,'dvGroupGenerateDocument','pdf');"> Generate (PDF)</a>
                                        </div>
                                    </div>

                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-sm pull-left formbuttonfix vrbButtons" id="vrb1GenerateDocument" data-original-title="Generate Document" data-toggle="modal" data-target="#addGenerateDocument"> Generate Document</a>
                    }
                    @{List<string> hiddenVerb = new List<string>(); var Verblist = "";
                        if (User.businessrules.Any(p => p.EntityName == "VerbGroup" && p.ActionTypeID.Contains(16)))
                        {
                            hiddenVerb = Model.ApplyHiddenVerbRule(User.businessrules, "VerbGroup");
                            Verblist = string.Join(",", hiddenVerb.ToList());
                        }
                        if (User.businessrules.Any(p => p.EntityName == "VerbGroup" && p.ActionTypeID.Contains(16)))
                        {
                            <script>HideVerbFromBR('@Verblist');</script>
                            <script>
                var array = '@Verblist'.split(',');
                for (var i = 0; i < array.length; i++) {
                var verbId = array[i];
                $("#" + verbId).remove();
                }
                            </script>
                        }
                    }



                    @{var dropmenubottom = false;}

                    <div class="pull-left formbuttonfix dropup" id="AddAssociationdropmenubottomVerbGroup">
                        <button type="button" class="btn btn-primary btn-sm" id="dropdownMenu1" data-toggle="dropdown" alt="Add Association" title="Add Association">
                            <span class="fa fa-plus"></span> Add

                        </button>
                        <ul class="dropdown-menu BtnVerb" role="menu" aria-labelledby="dropdownMenu1" style="padding:0px; margin-bottom:5px;">
                            @if (User.CanAdd("VerbsName"))
                            {
                                dropmenubottom = true;
                                <li>
                                    <a class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "VerbsName",
						new { UrlReferrer = Request.Url.PathAndQuery,
								AssociatedType ="VerbNameSelect",
						HostingEntityName = "VerbGroup",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                                        <span class="fa fa-plus"></span> Add  Verbs Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    @if (!dropmenubottom || !EditPermission)
                    {
                        <script>
                            $("#AddAssociationdropmenubottomVerbGroup").hide();
                        </script>
                    }
                </div>
            </div>} @*end form*@
            <div class="clearfix" style="clear:both; margin-bottom:8px"></div>
            <div id="divDisplayBRmsgBeforeSaveProp1"></div>
            <div id="divDisplayBRmsgMandatory1"></div>
            <div id="divDisplayLockRecord1"></div>
            <div id="divDisplayBRReadOnly1"></div>
            <div id="divDisplayCodeFragment1"></div>
        </div>
        @if (string.IsNullOrEmpty(wizardid))
        {
            <div class="tab-pane fade in" id="JournalEntryToVerbGroupRelation"></div>
            <div class="tab-pane fade in" id="VerbNameSelect"></div>

        }
    </div> <!-- /tab-content -->
</div>
<script>
    $(function () {
        ApplyAreYouSure();
    });
$('#printButton').click(function (evt) {
                evt.preventDefault();
                $('body').append('<iframe src="@Url.Action("Details", "VerbGroup", new { id = Model.Id, UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), viewtype = viewbagname }, null)" id="printIFrame" name="printIFrame" style="display:none;"></iframe>');
                $('#printIFrame').bind('load',
                    function () {
                        window.frames['printIFrame'].focus();
                        window.frames['printIFrame'].print();

                    }
                 );

            });
</script>
@{
    var businessruleforemailpage = User.businessrules.Where(p => p.EntityName == "VerbGroup").ToList();
    var isbrrequired = false;
    if (businessruleforemailpage != null && businessruleforemailpage.Count > 0)
    {
        isbrrequired = true;
    }
}
@{
    if (ViewBag.IsPartial == true)
    {
        var typelist = string.Join(",", businessruleforemailpage.SelectMany(p => p.ActionTypeID).Distinct().ToList());

        <script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
        <script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>
        <script type="text/javascript">
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': { width: "95%" }
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        </script>
        <script>
					 function ApplyBusinessRule(form) {
				var flag = true;
				dataurl = "@Url.Action("businessruletype", "VerbGroup", new { ruleType = "OnEdit"})";
				flag = ApplyBusinessRuleOnSubmit(dataurl, "VerbGroup", false, "ErrMsg", form,"@typelist");
				//business rules on inline associations
				if (flag) {
					$("#frmVerbGroup").find(':input').removeAttr('disabled');
					$("#divDisplayBRmsgMandatory").hide();
            $("#divDisplayBRmsgBeforeSaveProp").hide();
            $("#divDisplayLockRecord").hide();
            $("#divDisplayBRReadOnly").hide();
				}
				return flag;
			}
        </script>
    }
}
@{
    var businessrule = User.businessrules.Where(p => p.EntityName == "VerbGroup").ToList();
    if ((businessrule != null && businessrule.Count > 0))
    {
        var typelist = string.Join(",", businessrule.SelectMany(p => p.ActionTypeID).Distinct().ToList());
        <script>
		$(document).ready(function () {
				document.getElementById("ErrMsg").innerHTML = "";
				var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";
 form = $("#frmVerbGroup");
				dataurl = "@Url.Action("businessruletype", "VerbGroup", new { ruleType = "OnEdit"})";
                ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "VerbGroup", false, "ErrMsg", form);
				//business rules on inline associations
				if('@ViewData["RecordReadOnly"]' != 'null' && '@isRecordReadOnly'=='True')
                  {
                        $(':input:not([readonly])', 'form').attr('disabled', 'disabled').attr('readonly', 'readonly').trigger("chosen:updated");
						$('.input-group-append').hide();
						$('.input-group-addon').hide();
						$("a.btnupload").each(function(index) {$(this).remove() });
                  }
    });
        </script>
        <script>
   $("form input[type=submit]").click(function() {
		var actionName = $(this).attr("actionName")
        if (actionName == undefined)
            actionName = $(this).val();
        $('input:hidden[name="hdncommand"]').val(actionName);
    });
    $("form").submit(function (event) {
	 $('[businessrule="mandatory"]').each(function () {
       $(this).removeAttr('required');
       });
	if (!$("#frmVerbGroup").valid()) return;
			$("#divDisplayBRmsgBeforeSaveProp").html("");
			$("#divDisplayBRmsgBeforeSaveProp1").html("");
			$("#divDisplayCodeFragment").html("");
			document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
            var dataurl = "";
            var form = "";
            var inlinecount = "0";
 form = $("#frmVerbGroup").serialize();
				 dataurl = "@Url.Action("businessruletype", "VerbGroup", new { ruleType = "OnEdit"})";
                 flag = ApplyBusinessRuleOnSubmit(dataurl, "VerbGroup", false, "ErrMsg", form,"@typelist");
  				 //business rules on inline associations

			 if (flag)
				{

					 $("#frmVerbGroup").find(':input').removeAttr('disabled');
					}
					else
					{
						}
            return flag;
		});
        </script>
    }
    else
    {
        <script>
            $("input[type='submit']").click(function (event) {
                if (!$("#frmVerbGroup").valid()) return;
                $("#divDisplayBRmsgBeforeSaveProp").html("");
                $("#divDisplayBRmsgBeforeSaveProp1").html("");
                $("#divDisplayCodeFragment").html("");
                var $this = $(this);
                var actionName = $this.attr("actionName")
                if (actionName == undefined)
                    actionName = $this.val();
                $('input:hidden[name="hdncommand"]').val(actionName);
            });
        </script>
    }
}

<script type='text/javascript'>
$("input[datatype='Double']").addClass("pull-right text-right");
    $(document).ready(function ()
	{
				try {
		focusOnControl('frmVerbGroup');
        }
        catch (ex) { }
    if('@ViewBag.EntityHelp' == 'True' || '@ViewBag.EntityHelp' == 'true')
    {
		ShowHelpIcon(@Html.Raw("'"+Url.Action("ShowHelpIcon", "PropertyHelpPage")+"'"),'VerbGroup','edit',false,'Verb Group')
		 //instruction feature
         ShowInstructionLabel(@Html.Raw("'"+Url.Action("ShowInstructionLabel", "PropertyHelpPage")+"'"),'VerbGroup','edit',false,'Verb Group')
    }
		 var arrgroup = '@lstHiddenGroupFLS'.split(',');
            $.each( arrgroup, function( index, value ){
              if (value.length > 0)  $("#"+value).hide();
            });
    });
</script>
@if (ViewBag.IsPartial == null && EditPermission && ViewBag.EntityVerbGroupDisplayValueEdit != null)
{
    <script type='text/javascript'>
        $(document).ready(function () {
            NextPrev("VerbGroup");
        });
    </script>
}

