@model T_ExportDataLogstatusIndexViewModel
@using PagedList.Mvc;
@using GeneratorBase.MVC.UIPropertyHtmlHelper;
@{
    var ActionNameUrl = "Index";
	var BackUrl =  Request.Url.PathAndQuery;
	if (ViewData["HostingEntity"] != null && (Request.QueryString["TabToken"] != null || Request.IsAjaxRequest()))
	{
		BackUrl =  Request.UrlReferrer != null ?  Request.UrlReferrer.PathAndQuery : "";
	}
	if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper() == "FSEARCH")
    {
        ActionNameUrl = "FSearch";
        if (!string.IsNullOrEmpty(Request.QueryString["backurlhome"]))
        { 
			BackUrl = Request.QueryString["backurlhome"];
        }
    }
	var EntityReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_ExportDataLogstatus");
	var EntityReflectorProperties = EntityReflector.Properties;
	var RecycleView = ViewData["ShowDeleted"] != null && Convert.ToBoolean(ViewData["ShowDeleted"]);
	var EntityDisplayName = EntityReflector != null ? (HttpUtility.JavaScriptStringEncode(Html.DisplayName(EntityReflector.DisplayName).ToString())) : "ExportDataLog Status";
	var HideAction = GeneratorBase.MVC.Models.CustomHelperMethod.ShowHideAction("T_ExportDataLogstatus");
	var viewbagname = Convert.ToString(Model.TemplatesName);
	var inlinegrid = Request.QueryString["inlinegrid"];
	var nonbridgecontrol = true;
	
}
@{
        if (!string.IsNullOrEmpty(ViewBag.T_ExportDataLogstatusRestrictDropdownValueRuleInLIneEdit))
        {
            @Html.Raw(ViewBag.T_ExportDataLogstatusRestrictDropdownValueRuleInLIneEdit);
        }
    }

<div id="T_ExportDataLogstatus">
	@if (RecycleView)
    {
        <span class="text text-danger"><span class="fa fa-recycle"></span> Recycle Bin</span>
        <br /><br />
    }
<script type="text/javascript">
    $(document).ready(function () {
        var divId = $("#dvGroup" + "@ViewData["AssociatedType"]" + "Pivot");
        var divIdlist = $("#dvGroup" + "@ViewData["AssociatedType"]" + "PivotList");
        if (divId != undefined) {
            divId.show();
        }
        if (divIdlist != undefined)
            divIdlist.hide();
	if ('@inlinegrid' == 'true' || '@inlinegrid' == 'True') {
            $("#T_ExportDataLogstatusGridHeader").addClass('collapse in');
             if ($("#dropdownMenuButtonMatrix") != undefined)
            $("#dropdownMenuButtonMatrix").hide() 
    }

	
	 $(".pagination a").click(function (e) {
			PaginationClick(e, 'T_ExportDataLogstatus','@User.JavaScriptEncodedName')
        })
	    $("#SearchStringT_ExportDataLogstatus").keypress(function (e) {
			if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
				 $("#T_ExportDataLogstatusSearch").bind("click", (function () {
                        }));
                $('#T_ExportDataLogstatusSearch').trigger("click");
                return false;
			}
        })
        var usrName = "@User.JavaScriptEncodedName";
		var myCookie = usrName + "T_ExportDataLogstatus" + "@ViewData["AssociatedType"]";
		if ($.cookie(myCookie) != null) {
			$("#btnShowHideT_ExportDataLogstatus").click();
            $("#dvShowHideT_ExportDataLogstatus").hide();
		}
		if ($("#ErrmsgLockRecord").length > 0 && $("#ErrmsgLockRecord").text().length > 0) {
              $(".float-left.actionbar").hide();
			  if ('@inlinegrid' == 'true' || '@inlinegrid' == 'True') {
		        $(".inlinegridoption").hide();
                divId.remove();
                divIdlist.remove();

		    }
		}
    });
	$("input[datatype='Double']").addClass("pull-right text-right");
</script>
@functions {
    object getSortHtmlAttributes(string sortby, bool IsPaging, int? page, bool? IsExport, string ExportType = null)
    {
        if (IsPaging)
        {
            return new
            {
                page,
                sortBy = Model.CurrentSort,
                IsAsc = Model.IsAsc,
				searchString = Request.QueryString["searchString"],
				 inlinegrid = Request.QueryString["inlinegrid"],
                currentFilter = Model.currentFilter,
                HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
                HostingEntityID = ViewData["HostingEntityID"],
				IsExport = IsExport,
				ExportType = ExportType,
				FSFilter = Model.FSFilter == null ? "Fsearch" : Model.FSFilter,
				IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
				IsDivRender = Model.IsDivRender,
                IsDeepSearch = Model.IsDeepSearch,
                
				search=Request.QueryString["search"],
				SortOrder = Request.QueryString["SortOrder"],
				viewtype = Model.TemplatesName,
				HideColumns = ViewData["HideColumns"],
				 GroupByColumn = Model.GroupByColumn,
				 FilterCondition = Model.FilterCondition,
			
				 ShowDeleted = ViewData["ShowDeleted"]
            };
        }
        else
        {
            return new
            {
                sortBy = sortby,
                currentFilter = Request.QueryString["currentFilter"],
				 inlinegrid = Request.QueryString["inlinegrid"],
                searchString = Request.QueryString["searchString"],
                IsAsc = (Model.IsAsc == "ASC" ? "DESC" : ""),
                page = Model.Pages,
                HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
                AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
				IsExport = IsExport,
				ExportType = ExportType,
				FSFilter = Model.FSFilter == null ? "Fsearch" : Model.FSFilter,
				IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
				IsDivRender = Model.IsDivRender,
                IsDeepSearch = Model.IsDeepSearch,
		search=Request.QueryString["search"],
		SortOrder = Request.QueryString["SortOrder"],
		viewtype = Model.TemplatesName,
		HideColumns = ViewData["HideColumns"],
		 GroupByColumn = Model.GroupByColumn,
		 FilterCondition = Model.FilterCondition,
		 		 ShowDeleted = ViewData["ShowDeleted"]
            };
        }
    }
}
   <div id="T_ExportDataLogstatusGridHeader" class="">
@if(Model.IsdrivedTab == null)
{
	    if (!RecycleView)
        { 
            <div class="float-left actionbar">
			@if (User.CanAdd("T_ExportDataLogstatus"))
			{
			<a id="addInlineRowT_ExportDataLogstatus" style="display:none;"
			 onclick="@Html.Raw("OpenInlineEntity(this,'T_ExportDataLogstatus','" + Url.Action("CreateInline", "T_ExportDataLogstatus", new {AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now }) + "')")">
			</a>
                 <div class="btn-group mb-1" id='@ViewData["HostingEntity"]_T_ExportDataLogstatus'>
				 <div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-plus-circle"></i> Add <span class="caret"></span>
				  </button>
                      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
					 @if (User.CanAdd("T_ExportDataLogstatus"))
					 {
								if (Model.IsDivRender == true)
                            { <li class="dropdown-item">
                                <a data-original-title="Full Add" data-placement="top" onclick="LoadDivInsideTab('@ViewData["AssociatedType"]','','@Html.Raw(Url.Action("Create", "T_ExportDataLogstatus", new { RenderPartial = true, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), viewtype = viewbagname ,}))')" alt="Full Add" title="Full Add">
                                    <i class="fa fa-plus-circle" ></i> Full Add
                                </a>
								</li>
                            }
                            else
                            {
							<li class="dropdown-item">
					<a  data-original-title="Full Add" data-placement="top" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_ExportDataLogstatus", new { UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = viewbagname }, null) + "');") alt="Full Add" title="Full Add">
						<i class="fa fa-plus-circle" ></i> Full Add
					</a>
					</li>
							}
			if (Model.IsDivRender != true)
			{<li class="dropdown-item">
					<a  data-placement="top" id="addT_ExportDataLogstatus" data-original-title="Quick Add" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','"+EntityDisplayName+"','dvPopup','" + Url.Action("CreateQuick", "T_ExportDataLogstatus", new { UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS=DateTime.Now,viewtype = viewbagname }) + "')")" alt="Quick Add" title="Quick Add">
						<i class="fa fa-plus-circle" ></i> Quick Add
                    </a>
					</li>
			}
	

}		
  </ul>
 </div>
</div>
	  }
	  
                   
	@if (Model.IsDivRender == null || Model.IsDivRender == false)
	{
if (nonbridgecontrol && (((User.CanEdit("T_ExportDataLogstatus") && User.CanUseVerb("BulkUpdate", "T_ExportDataLogstatus", User)) || (User.CanDelete("T_ExportDataLogstatus") && User.CanUseVerb("BulkDelete", "T_ExportDataLogstatus", User)) || User.CanUseVerb("BulkDocumentDownload", "T_ExportDataLogstatus", User))))
{
<div class="btn-group mb-1">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-original-title="Bulk Actions" data-toggle="dropdown" href="#">
           <span class="fa fa-wrench"></span> Bulk <i class="caret"></i>
     </button>
        <div class="dropdown-menu" role="menu">
			@if ( User.CanEdit("T_ExportDataLogstatus")&&  User.CanUseVerb("BulkUpdate","T_ExportDataLogstatus",User))
	{
		<a class="dropdown-item" data-placement="top" style="cursor:pointer;" data-toggle="modal" data-target="#dvPopup"
			onclick="@Html.Raw("OpenPopUpBulKUpdate('addPopup','Bulk Update "+EntityDisplayName+"','dvPopup','" + Url.Action("BulkUpdate", "T_ExportDataLogstatus", new { UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now }) + "','T_ExportDataLogstatus')")"> <i class="fa fa-edit" aria-hidden="true"></i> 
Update</a>
	}
 
	 @if ( User.CanDelete("T_ExportDataLogstatus") && User.CanUseVerb("BulkDelete","T_ExportDataLogstatus",User))
     {
		<a class="dropdown-item" style="cursor:pointer;" onclick="PerformBulkOperation(this,'T_ExportDataLogstatus','Bulk Delete','@Url.Action("DeleteBulk", "T_ExportDataLogstatus")','@ViewData["AssociatedType"]');">
		<i class="fa fa-trash" aria-hidden="true"></i>
 Delete
 </a>
	 }
                        </div>
</div>
                    </div>
  }
}
@if (Model.IsDivRender == null || Model.IsDivRender == false)
{
<div class="btn-group mb-1">
<div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu5" data-original-title="View As" data-toggle="dropdown" href="#">
                            <span class="fa fa fa-table"></span> View As
                       </button>
                        <div class="dropdown-menu multi-level" role="menu">
                                <a class="dropdown-item" data-placement="top" style="cursor:pointer;"
                                   onclick="@Html.Raw("LoadTabTemplate('T_ExportDataLogstatus','" + Url.Action("Index", "T_ExportDataLogstatus", new { UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntity = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now, viewtype = "IndexPartialGallery" }) + "')")">
                                    <span class="fa fa-th"></span> Gallery
                                </a>
                                <a class="dropdown-item" style="cursor:pointer;"
                                   onclick="@Html.Raw("LoadTabTemplate('T_ExportDataLogstatus','" + Url.Action("Index", "T_ExportDataLogstatus", new { UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntity = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now, viewtype = "IndexPartialList" }) + "')")">
                                    <span class="fa fa-list"></span> List
                                </a>
                        </div>
                        </div>
                    </div>
	}


@if (Model.IsDivRender == null || Model.IsDivRender == false)
{
<div class="btn-group mb-1">
<div class="dropdown">
	   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-original-title="Filter-Groupby" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
            </button>
                            <div class="dropdown-menu multi-level" role="menu">
      
			@if ( User.CanAdd("T_ExportDataLogstatus") && User.CanUseVerb("ImportExcel", "T_ExportDataLogstatus", User))
			{
				 <a  class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Upload", "T_ExportDataLogstatus", new { filetype = "xls", AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), UrlReferrer = BackUrl }) + "');") alt="Import Excel" title="Import Excel">
                        <i class="fa fa-upload"></i> Import Excel
                 </a>
			}
             @if (User.CanAdd("T_ExportDataLogstatus") && User.CanUseVerb("ImportExcelAdvanced", "T_ExportDataLogstatus", User))
            {
                <a class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Upload", "T_ExportDataLogstatus", new { filetype = "xls", AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), UrlReferrer = BackUrl,ImportType= "adv"}) + "');") alt="Import Excel(Advanced)" title="Import Excel(Advanced)">
                    <i class="fa fa-upload"></i> Import Excel(Advanced)
                </a>
            }
			@if ( User.CanAdd("T_ExportDataLogstatus") && User.CanUseVerb("ImportCSV", "T_ExportDataLogstatus", User))
			{
				 <a  class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Upload", "T_ExportDataLogstatus", new { filetype = "csv", AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), UrlReferrer = BackUrl }) + "');") alt="Import CSV" title="Import CSV">
                        <i class="fa fa-upload"></i> Import CSV
                 </a>
			}
             @if (User.CanAdd("T_ExportDataLogstatus") && User.CanUseVerb("ImportCSVAdvanced", "T_ExportDataLogstatus", User))
            {
                <a class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Upload", "T_ExportDataLogstatus", new { filetype = "csv", AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), UrlReferrer = BackUrl,ImportType= "adv" }) + "');") alt="Import CSV(Advanced)" title="Import CSV(Advanced)">
                    <i class="fa fa-upload"></i> Import CSV(Advanced)
                </a>
            }

	     		@if (User.CanView("T_ExportDataLogstatus") && User.CanUseVerb("ExportExcel", "T_ExportDataLogstatus", User))
                {
					<a class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action(ActionNameUrl,"T_ExportDataLogstatus",getSortHtmlAttributes(null, false, null, true, "xls"), null) + "');") alt="Export Excel" title="Export Excel">
						<i class="fa fa-download"></i> Export Excel
					</a>
				}
				@if (User.CanView("T_ExportDataLogstatus") && User.CanUseVerb("ExportCSV", "T_ExportDataLogstatus", User))
                {
					<a class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action(ActionNameUrl,"T_ExportDataLogstatus",getSortHtmlAttributes(null, false, null, true, "csv"), null) + "');") alt="Export CSV" title="Export CSV">
						<i class="fa fa-download"></i> Export CSV
					</a>
				}
				@if (ViewData["HostingEntity"]==null)
				{ 
                <a class="dropdown-item" id="btnShowHideT_ExportDataLogstatus" data-toggle="collapse" data-target="#ColumnShowHideT_ExportDataLogstatus" data-original-title="Show/Hide Column" data-placement="top" onclick=@Html.Raw("showhideColumns(event,'T_ExportDataLogstatus','"+Url.Action("ShowHideColumns", "T_ExportDataLogstatus", new {HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), AssociatedType= @Convert.ToString(ViewData["AssociatedType"]),viewtype=@Convert.ToString(ViewData["viewtype"])})+"');")  alt="Show/Hide Column" title="Show/Hide Column">
                    <span class="fa fa-table"></span>  Show/Hide Column
                </a>
				}
    	         </div>
        </div>
       </div>
}

</div>				
}


}
				<div class="float-right" style="">
                        <div class="input-group">
                            @Html.TextBox("SearchStringT_ExportDataLogstatus", Model.currentFilter as string, null, new { @class = "form-control listsearchbox", @value = Model.HomeVal, @placeholder = "Search" })
                            <div class="input-group-btn">
                              <a id="T_ExportDataLogstatusSearch" onclick="SearchClick(event, 'T_ExportDataLogstatus', '@Html.Raw(Url.Action("Index", "T_ExportDataLogstatus", new {inlinegrid = inlinegrid, ShowDeleted = ViewData["ShowDeleted"], IsFilter = ViewData["IsFilter"], IsDeepSearch = false, searchString = "_SearchString", HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]),HideColumns = ViewData["HideColumns"], SearchTimeStamp = DateTime.Now.Ticks.ToString(),viewtype = viewbagname }))','@User.JavaScriptEncodedName');" data-original-title="Grid Search" class="btn btn-secondary tip-top"   alt="Grid Search" title="Search on grid"><span class="fa fa-search"></span></a>
								<a id="T_ExportDataLogstatusCancel" class="btn btn-secondary collapse-data-btn tip-top" onclick="CancelSearch('T_ExportDataLogstatus','@Html.Raw(Url.Action("Index", "T_ExportDataLogstatus", new {inlinegrid = inlinegrid, ShowDeleted = ViewData["ShowDeleted"],IsFilter=ViewData["IsFilter"], HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]), HideColumns = ViewData["HideColumns"], viewtype = viewbagname }))','@User.JavaScriptEncodedName')" data-original-title="Clear Search" data-placement="top"  alt="Clear Search" title="Clear Search">
                                    <span class="fa fa-minus-circle"></span>
                                </a>
                                <a id="T_ExportDataLogstatusSearchCancel" class="btn btn-secondary collapse-data-btn tip-top" onclick="CancelSearch('T_ExportDataLogstatus','@Html.Raw(Url.Action("Index", "T_ExportDataLogstatus", new {inlinegrid = inlinegrid, ShowDeleted = ViewData["ShowDeleted"], IsFilter=ViewData["IsFilter"], itemsPerPage=Convert.ToInt32(Model.PageSize),HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]),HideColumns = ViewData["HideColumns"], viewtype = viewbagname}))','@User.JavaScriptEncodedName')" data-original-title="Refresh Grid" data-placement="top"  alt="Refresh Grid" title="Refresh Grid">
                                    <span class="fa fa-sync-alt"></span>
                                </a>
								<a id="T_ExportDataLogstatusRefresh" class="fa fa-refresh d-none" onclick="CancelSearch('T_ExportDataLogstatus','@Html.Raw(Url.Action(ActionNameUrl, "T_ExportDataLogstatus", getSortHtmlAttributes(Model.CurrentSort, false,null, false)))','@User.Name')"></a>
                            </div>
                        </div>
                    </div>

			 <div style="clear:both"></div>
		@if (ViewData["HostingEntity"]==null)
		{ 
            <div id="dvShowHideT_ExportDataLogstatus" class="collapse">
			</div>
			@*@Html.Partial("~/Views/T_ExportDataLogstatus/ShowHideColumns.cshtml")*@ 
		}
	
</div>
<div class="row">
 
 <div id="LoadT_ExportDataLogstatusSetFSearchGrid" class="collapse">
        </div>
@*@{Html.RenderPartial("~/Views/T_ExportDataLogstatus/SetFSearchGrid.cshtml", new GeneratorBase.MVC.Models.T_ExportDataLogstatus());}*@
<div class="col" style="width:200px; float:left; ">
@if (Model.SearchResult != "" && Model.IsdrivedTab == null )
                            {
			<div id="fsearchT_ExportDataLogstatus" class="collapse QueryResult p-2 col-sm-12 m-0 bg-light border row" >
                        <div class="col-sm-6">  @Html.Raw(Html.Encode(Model.SearchResult).Replace(Environment.NewLine, ""))</div>
						<div class="col-sm-6 text-right">
						@if (Model.IsGroupBy != null && Convert.ToBoolean(Model.IsGroupBy))
                                    {
						 <a class="btn btn-primary btn-sm ExpandAllOpen">Expand All</a>
						 }
						@if (ActionNameUrl == "FSearch" && ViewData["HostingEntity"] != null)
						{
							<a onclick="window.location.reload();" class="btn btn-primary btn-sm"><span class="fa fa-times-circle"></span> Clear</a>
						}
						else
						{ 
							<a href="@Url.Action("Index", "T_ExportDataLogstatus",new{ShowDeleted = ViewData["ShowDeleted"], viewtype = viewbagname})" class="btn btn-primary btn-sm"><span class="fa fa-times-circle"></span> Clear</a>
						}
						 <a href="@(Url.Action("SetFSearch", "T_ExportDataLogstatus")+Request.Url.Query)" class="btn btn-primary btn-sm"><span class="fa fa-edit"></span> Modify</a>
						 @if (User.CanAdd("T_FacetedSearch"))
                         { 
                         if (!string.IsNullOrEmpty(Model.FsearchId))
                            {
                                <a id='aBtnQuickEditT_FacetedSearch_@Convert.ToInt32(Model.FsearchId)' onclick="@Html.Raw("OpenPopUpEntityQuickEdit('addPopup','Edit FacetedSearch','dvPopup','" + Url.Action("EditQuick", "T_FacetedSearch", new
																			{
																				id = Convert.ToInt32(Model.FsearchId),
																				 UrlReferrer = Html.Raw(Request.Url.PathAndQuery),
																				AssociatedType = ViewData["AssociatedType"],
																				HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]),
																				HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
                                                                                FsearchId=Model.FsearchId
																			}) + "')")" class="btn btn-primary btn-sm"><span class="fa fa-floppy-o"></span> Edit</a>
                          }
                         else
                            {
						 <a onclick="@Html.Raw("OpenPopUpEntity('addPopup','Query','dvPopup','" + Url.Action("CreateQuick", "T_FacetedSearch", new { EntityName="T_ExportDataLogstatus",Url=Html.Raw(Request.Url.PathAndQuery) }) + "')")" class="btn btn-primary btn-sm"><span class="fa fa-floppy-o"></span> Save</a>
                          }
						 }
            </div>
			</div>
	}
	  @if (Model.list.Count > 0 && Model.list.TotalItemCount > 10)
      {
                    <div id="pagination">
					@if(Model.list.TotalItemCount > Convert.ToInt32(Model.PageSize))
					{
						   @Html.PagedListPager(Model.list, page => Url.Action(ActionNameUrl, "T_ExportDataLogstatus", getSortHtmlAttributes(null, true, page, false)),
						   new PagedListRenderOptions
						   {
							   FunctionToTransformEachPageLink = (liTag, aTag) =>
							   {
								   aTag.Attributes.Add("class", "page-link");
								   liTag.InnerHtml = aTag.ToString();
								   return liTag;
							   },
							   LiElementClasses = new[] { "page-item" },
							   UlElementClasses = new[] { "pagination pagination-sm" }
						   })
					}
                        <div class="fixPageSize">
                            Page Size :
                            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 }  }, "Value", "Key")
							, new {@class="ignorefield", @id = "pagesizelistT_ExportDataLogstatus",
							 @onchange = @Html.Raw("pagesizelistChange(event,'T_ExportDataLogstatus','"
							 + @User.JavaScriptEncodedName + "')"),
							 @Url = Html.Raw(@Url.Action(ActionNameUrl, "T_ExportDataLogstatus",
							 getSortHtmlAttributes(Model.CurrentSort, Model.Pages == 1 ? false : true,
							 null, false), null)) })
							<span style="text-align:right;"> Total Count: @(Model.list.TotalItemCount)</span>
							<script>
                                    $(document).ready(function () {
                                        $.validator.setDefaults({
                                            ignore: "#pagesizelistT_ExportDataLogstatus"
                                        })
                                    }); 
                                </script>
                        </div>
                    </div>
					<div style="clear:both"></div>
        }
@if (Model.IsGroupBy != null && Convert.ToBoolean(Model.IsGroupBy))
{
<script>
    $(document).ready(function(){
        $('.hideTr').slideUp(600);
        $('[data-toggle="toggle"]').click(function () {
            var tag = $(this).find("p").attr("id");
            if ($(this).parents().next(".hideTr").is(':visible')) {
                $(this).parents().nextAll('.hideTr[tag="'+tag+'"]').slideUp(600);
                $(".plusminus_" + $(this).children().children().attr("id")).text('+');
                $(this).css('background-color', 'white');
            }
            else {
                  $(this).parents().nextAll('.hideTr[tag="'+tag+'"]').slideDown(600);
                $(".plusminus_" + $(this).children().children().attr("id")).text('-');
                $(this).css('background-color', '#c1eaff');
            }
        });
        $('.ExpandAllOpen').click(function(){
            var link = $(this);
            if(link.text() == "Expand All")
            {
                $('.hideTr').slideDown(600);
                link.text('Collapse All');
                $( "[class^='plusminus_']" ).text('-'); 
            }
            else
            {
                $('.hideTr').slideUp(600);
                link.text('Expand All');
                $( "[class^='plusminus_']" ).text('+'); 
            }
            
        });
    });
</script>
 }
 
	  <div id="Des_Table" class="table-responsive" style="margin-top:5px;">
                            <table class="table table-hover default-bordered default-condensed newlist">
                              <thead id="theaderT_ExportDataLogstatus">
                <tr>
@if ((Model.IsDivRender == null || Model.IsDivRender == false)  && ((User.CanEdit("T_ExportDataLogstatus") && User.CanUseVerb("BulkUpdate", "T_ExportDataLogstatus", User)) || (User.CanDelete("T_ExportDataLogstatus") && User.CanUseVerb("BulkDelete", "T_ExportDataLogstatus",User))))
{
	 <th class="col0" style="width:30px" scope="col" data-sort-ignore="true">
<div style="width:10px">
<div class="CheckboxHeaderFix">
		<input type="checkbox" class="tip-top" data-placement="top" data-original-title="Select All" onclick="SelectAllRows(this,'T_ExportDataLogstatus');" />
        @Html.Hidden("SelectedItems")
<div>
<div>
	</th>
}
<th scope="col" class="col1" alt="Actions" title="Actions" data-sort-ignore="true">
                    <div style="width: 65px;"><span class="ActionsHeaderFix">Actions </span></div>
                </th>

@if(User.CanView("T_ExportDataLogstatus","T_Name") )
{	
			var SortPropertyName = EntityReflectorProperties.FirstOrDefault(q => q.Name == "T_Name");
			<th scope="col" class="col2" >
			@Html.ActionLink(SortPropertyName.DisplayName, ActionNameUrl, "T_ExportDataLogstatus",getSortHtmlAttributes("T_Name", false, null, false),new {  @onclick = "SortLinkClick(event,'T_ExportDataLogstatus');" }) 
				@if (Model.IsAsc == "DESC" && Model.CurrentSort == "T_Name")
                {<i class="fa fa-sort-amount-asc" title="Descending"></i>}
                @if (Model.IsAsc == "ASC" && Model.CurrentSort == "T_Name")
                {<i class="fa fa-sort-amount-desc" title="Ascending"></i>}
			</th>
}
@if(User.CanView("T_ExportDataLogstatus","T_Description") )
{	
			var SortPropertyName = EntityReflectorProperties.FirstOrDefault(q => q.Name == "T_Description");
			<th scope="col" class="col3" >
			@Html.ActionLink(SortPropertyName.DisplayName, ActionNameUrl, "T_ExportDataLogstatus",getSortHtmlAttributes("T_Description", false, null, false),new {  @onclick = "SortLinkClick(event,'T_ExportDataLogstatus');" }) 
				@if (Model.IsAsc == "DESC" && Model.CurrentSort == "T_Description")
                {<i class="fa fa-sort-amount-asc" title="Descending"></i>}
                @if (Model.IsAsc == "ASC" && Model.CurrentSort == "T_Description")
                {<i class="fa fa-sort-amount-desc" title="Ascending"></i>}
			</th>
}
</tr>
<tr id="trInlineT_ExportDataLogstatus" style="display:none; padding:0px!important">
                <th id="tdInlineT_ExportDataLogstatus" colspan="4" style="padding: 0px!important;">

                </th>
</tr>
</thead>
   @{
                                    var RowCounter = 0;
                                    var RowCounter1 = 0;
                                }
@{ bool isFirst = true; string oldKey = null; }
                                @foreach (var item in Model.list)
                                {
									List<string> hiddenProperties = new List<string>();
									if (User.businessrules.Any(p => p.EntityName == "T_ExportDataLogstatus" && p.ActionTypeID.Contains(6)))
									{
									   hiddenProperties = item.ApplyHiddenRule(User.businessrules, "T_ExportDataLogstatus");
									}
																			bool isRecordReadOnly = false;
									if (User.businessrules.Any(p => p.EntityName == "T_ExportDataLogstatus" && (p.ActionTypeID.Contains(1) ||  p.ActionTypeID.Contains(11))))
									{
										isRecordReadOnly = item.ApplyLockRecordRule((object)item, User, User.businessrules.Where(p => p.EntityName == "T_ExportDataLogstatus" && (p.ActionTypeID.Contains(1) ||  p.ActionTypeID.Contains(11))).ToList(), "T_ExportDataLogstatus");
									}
									if (ViewData["HostingEntity"] != null && !isRecordReadOnly)
									{
										isRecordReadOnly = item.ApplyLockRecordRule((object)ViewBag.HostingEntityIDData, User, User.businessrules.Where(p => p.EntityName == ViewData["HostingEntity"].ToString() && (p.ActionTypeID.Contains(1) || p.ActionTypeID.Contains(11))).ToList(), ViewData["HostingEntity"].ToString());
									}
									if(!isRecordReadOnly)
									{
										isRecordReadOnly = !User.CanEditItemInHierarchy("T_ExportDataLogstatus", item, User);
									}
									if (Model.IsGroupBy != null && Convert.ToBoolean(Model.IsGroupBy))
                                    {
                                        var groupKey = item.m_DisplayValue;
                                        if (oldKey != groupKey)
                                        {
                                            isFirst = true;
                                            oldKey = item.m_DisplayValue;
                                        }
                                        if (isFirst || oldKey == null)
                                        {
                                            isFirst = false;
                                            string groupString = string.Empty;
                                           
											<tr data-toggle="toggle">
                                                <td colspan="4" style="background: #EDF5FA; font-weight:bold; cursor: pointer;">
                                                    <p id="@(++RowCounter)">
                                                        <b>
                                                            <span class="plusminus_@(++RowCounter1)">+</span>

                                                        </b> @groupKey @groupString
														
                                       </p>
                                    </td>
														</tr>
                                        }
                                    }
      <tbody class="hideTr" tag="@RowCounter1">
	 <tr scope="row">
@if ((Model.IsDivRender == null || Model.IsDivRender == false)  && ((User.CanEdit("T_ExportDataLogstatus") && User.CanUseVerb("BulkUpdate", "T_ExportDataLogstatus", User)) || (User.CanDelete("T_ExportDataLogstatus") && User.CanUseVerb("BulkDelete", "T_ExportDataLogstatus",User))))
{	
	 <td>
           <div class="CheckboxrowFix">
			 <input type="checkbox" id="@item.Id" onclick="SelectForBulkOperation(this,'@item.Id','T_ExportDataLogstatus');" autocomplete="off"/>
         </div>
	 </td>
}	
		   <td class="btnaction" rowid="btnrow_@item.Id" businessrule='@Html.Raw(Url.Action("ApplyBusinessRuleBeforeById", new { objectId = item.Id }))'>
	   <div style="display:none;">
			<div class="btn-group tdDoubleClickGroup" >
				<a onclick="SavePropertiesValue(this,'T_ExportDataLogstatus',@item.Id,'@Url.Action("SavePropertiesValue")');" class="btn btn-xs btn-lightBlue" alt="Save" title="Save" style="font-size:1rem;padding:0px 5px;color:white;">
					<i class="fa fa-save"></i> 
				</a>
				<a onclick="$('#T_ExportDataLogstatusRefresh').click();" class="btn btn-xs btn-default" alt="Cancel" title="Cancel" style="font-size:1rem;padding:0px 5px;">
					<i class="fa fa-close"></i> 
				</a>
			</div>
		</div>
			   <div id="DivbutEdit" class="DivbutEditFix" style="width: 65px;">
		<div class="btn-group">
		@if (User.CanEdit("T_ExportDataLogstatus"))
        {
			 var editIconClass = isRecordReadOnly ? "fa fa-eye" : "fas fa-pencil-alt";
			 var edittitle = isRecordReadOnly ? "View" : "Edit";
			if (Model.IsDivRender == true)
            {
                <a onclick="LoadDivInsideTab('@ViewData["AssociatedType"]','','@Html.Raw(Url.Action("Edit", "T_ExportDataLogstatus", new { id = item.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), RenderPartial = Model.IsDivRender, viewtype = viewbagname, RecordReadOnly = isRecordReadOnly  }, null))')" class="btn btn-info btn-xs" alt="@edittitle" title="@edittitle">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            }
            else
            {
                <a href="@Url.Action("Edit","T_ExportDataLogstatus", new { id = item.Id,  UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = viewbagname, RecordReadOnly = isRecordReadOnly  },null)" class="btn btn-info btn-xs" alt="@edittitle" title="@edittitle"> 
					<i class="@editIconClass"></i>
				</a>
            }	
		}
		@if (!User.CanEdit("T_ExportDataLogstatus"))
                    {
            <a href="@Url.Action("Details", "T_ExportDataLogstatus", new { id = item.Id, UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), viewtype = viewbagname }, null)" class="btn btn-secondary btn-xs" >
                <i class="fa fa-eye"></i>
            </a>
        }
			<button class="btn dropdown-toggle btn-secondary btn-xs" type="button" data-toggle="dropdown" aria-expanded="true">
                 <span class="sr-only"></span>
           </button>
			<ul class="dropdown-menu">
			 @if (User.CanEdit("T_ExportDataLogstatus") && isRecordReadOnly)
                {
                <li>
                        <a class="dropdown-item" href="@Url.Action("Edit","T_ExportDataLogstatus", new { id = item.Id,  UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = viewbagname, RecordReadOnly = isRecordReadOnly },null)"><i class="fa fa-eye"></i>  View</a>
                </li>            
                }
                else
                {
                    <li>
                    <a class="dropdown-item" href="@Url.Action("Details", "T_ExportDataLogstatus", new { id = item.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"])  }, null)" alt="View" title="View"><i class="fa fa-eye"></i>  View</a>
                </li>
                }

				
			@if (!User.CanEdit("T_ExportDataLogstatus"))
                    {
}

			<div class="dropdown-divider"></div>	
			@if (User.CanEdit("T_ExportDataLogstatus"))
					{
				 <li>
						<a  class="dropdown-item nohref" id='aBtnQuickEditT_ExportDataLogstatus_@item.Id' style="cursor:pointer;" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntityQuickEdit('addPopup','Edit " + (EntityDisplayName) + "','dvPopup','" + Url.Action("EditQuick", "T_ExportDataLogstatus", new
																			{
																				id = item.Id,
																				UrlReferrer = Request.Url.PathAndQuery,
																				AssociatedType = ViewData["AssociatedType"],
																				HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]),
																				HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
																				TS = DateTime.Now,viewtype = viewbagname,RecordReadOnly = isRecordReadOnly
																			}) + "')")"> <i class="fas fa-pencil-alt"></i> Quick Edit</a>
				</li>
				}
				@if (User.CanEdit("T_ExportDataLogstatus") && !isRecordReadOnly)
                {
				<li>
                        <a class="dropdown-item" href="@Url.Action("Edit","T_ExportDataLogstatus", new { id = item.Id,  UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = viewbagname },null)"><i class="fa fa-edit"></i>  Edit</a>
                </li>             
				}
<div class="dropdown-divider"></div>

	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu" id="AddAssociationdropmenuT_ExportDataLogstatus_@item.Id">
	 @{ var dropmenu = false; }
	<a class="dropdown-item" tabindex="-1" href="#"><i class="fa fa-plus-circle"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_ExportDataLog"))
				{
					dropmenu = true;
					<li>
						<a class="dropdown-item" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_ExportDataLog", 
						new { UrlReferrer = BackUrl,
								AssociatedType ="T_AssociatedExportDataLogStatus", 
							HostingEntityName = "T_ExportDataLogstatus",
							HostingEntityID = @Convert.ToString(item.Id) }, null) + "');")>
							<i class="fa fa-plus"></i>  ExportDataLogs
						</a>
					</li>
				}
			</ul>
</li>
@if(!dropmenu || isRecordReadOnly || !nonbridgecontrol)
{
    <script>
        $("#AddAssociationdropmenuT_ExportDataLogstatus_@item.Id").hide();
    </script>
}
<div class="dropdown-divider"></div>
			@if (nonbridgecontrol && User.CanDelete("T_ExportDataLogstatus") && !isRecordReadOnly)
                 {
				 <li class="divider" style="clear:both"></li>
				<li>
                    <a class="dropdown-item" href="@Url.Action("Delete", "T_ExportDataLogstatus", new { id = item.Id, UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = viewbagname }, null)"><i class="fa fa-times-circle" style="color: #E7574B;"></i> Delete</a>
                </li>
				}
			</ul>
		</div>
		</div>
	</td>
		@if(User.CanView("T_ExportDataLogstatus","T_Name"))
{
		
<td onclick="OpenQuickEdit('T_ExportDataLogstatus','@item.Id',event);"  title="@item.T_Name"  >
		
          @Html.DisplayFor(modelItem => item.T_Name)
          </td>
}
@if(User.CanView("T_ExportDataLogstatus","T_Description"))
{
		
<td onclick="OpenQuickEdit('T_ExportDataLogstatus','@item.Id',event);"  title="@item.T_Description"  >
		
          @Html.DisplayFor(modelItem => item.T_Description)
          </td>
}
                                </tr>
</tbody>
                            }
                    </table>
                </div>
				
   			    @if (Model.list.Count > 0 && Model.list.TotalItemCount > 10)
                {
                    <div id="pagination">
					@if(Model.list.TotalItemCount > Convert.ToInt32(Model.PageSize))
					{
						 @Html.PagedListPager(Model.list, page => Url.Action(ActionNameUrl, "T_ExportDataLogstatus", getSortHtmlAttributes(null, true, page, false)),
						   new PagedListRenderOptions
						   {
							   FunctionToTransformEachPageLink = (liTag, aTag) =>
							   {
								   aTag.Attributes.Add("class", "page-link");
								   liTag.InnerHtml = aTag.ToString();
								   return liTag;
							   },
							   LiElementClasses = new[] { "page-item" },
							   UlElementClasses = new[] { "pagination pagination-sm" }
						   })
				}
                        <div class="fixPageSize">
                            Page Size :
                            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 } }, "Value", "Key")
							, new {@class="ignorefield", @id = "pagesizelistT_ExportDataLogstatus",
							 @onchange = @Html.Raw("pagesizelistChange(event,'T_ExportDataLogstatus','"
							 + @User.JavaScriptEncodedName + "')"),
							 @Url = Html.Raw(@Url.Action(ActionNameUrl, "T_ExportDataLogstatus",
							 getSortHtmlAttributes(Model.CurrentSort, Model.Pages == 1 ? false : true,
							 null, false), null)) })
							<span style="text-align:right;"> Total Count: @(Model.list.TotalItemCount)</span>
							<script>
                                    $(document).ready(function () {
                                        $.validator.setDefaults({
                                            ignore: "#pagesizelistT_ExportDataLogstatus"
                                        })
                                    }); 
                                </script>
                        </div>
                    </div>
                }
				</div>
				</div>
				@Html.DropDownList("EntityT_ExportDataLogstatusDisplayValue", null,null, new { @Style = "display:none;" })
</div>
 
