@model GeneratorBase.MVC.Models.EmailTemplateType
@{
    ViewBag.Title = "Delete Email Template Type";
    Layout = null;
}

@using (Html.BeginForm("DeleteEmailTemplateTypeConfirmed", "EmailTemplate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ConcurrencyKey)
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card AppForm">
                    <div class="card-header text-white bg-danger clearfix">
                        <h6>Are you sure you want to delete this? - <strong>@Html.DisplayFor(model => model.DisplayValue)</strong> </h6>
                    </div>
                    <div class="card-body">
                        <dl class="dl-horizontal" style="height:300px; overflow: auto;">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="clearfix">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastUpdatedByUser)
                            </dt>
                            <dd class="clearfix">
                                @Html.DisplayFor(model => model.LastUpdatedByUser)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row deletefix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button id="CancelQuickAdd" type="button" class="btn btn-secondary " data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="submit" value="Delete" class="btn btn-primary" onclick="QuickAddFromIndex(event,true,'EmailTemplate','null','null',0);" />
            </div>
        </div>
    </div>
}












