@model GeneratorBase.MVC.Models.EditRoleViewModel
@{
    ViewBag.Title = "Edit";
}
<div class="content-heading">
    <div class="col-lg-12">
        <strong>
            <a href="@Url.Action("Index", "Admin")"> Admin</a>
            <small>Edit Role</small>
        </strong>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card card-default AppForm">
                    <div class="card-header clearfix">
                  
                        <h3 class="card-title">@Model.Name</h3>
                    </div>
                    @Html.HiddenFor(model => model.OriginalName)
                    <div class="card-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>*@

                            <div class="form-group col-lg-12 row">
                                <div class="col-lg-6">
                                    <label>@Html.LabelFor(m => m.Name)  <span class="text-danger-reg">*</span></label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                                <div class="col-lg-6">
                                    <label>@Html.LabelFor(m => m.Description) </label>
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.RoleType)
                            @Html.HiddenFor(m => m.TenantId)
                            @Html.Hidden("UrlReferrer", Request.UrlReferrer.PathAndQuery)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (Request.UrlReferrer != null)
        {
            <a href="@Request.UrlReferrer.PathAndQuery" class="btn btn-secondary">Back to List</a>
        }
        else
        {
            @Html.ActionLink("Back to List", "RoleList", "Account", null, new { @class = "btn btn-secondary" })
        }

        if (User.CanEditAdminFeature("Role"))
        {
            <input type="submit" value="Save" class="btn btn-primary" />
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}