@model GeneratorBase.MVC.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <style>
        .hideForgotPassword {
            display: none;
        }

        .or {
            text-align: center;
            font-weight: 800;
            background-color: #f7f7f7;
            color: #5d9cec;
            margin: 15px 0;
        }
    </style>
</head>
<body>
    <p id="lblMainSentSuccess" style="color: green; font-size: smaller;"></p>
    <div id="dVforgot">

        <script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-3.6.0.min.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @autocomplete = "off" }))
        {
            @Html.AntiForgeryToken();
            Html.ValidationSummary(true);
            Html.EnableClientValidation();
            <label>@Html.LabelFor(m => m.Username)</label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            <div class="or">
                OR
            </div>
            <label>@Html.LabelFor(m => m.Email)</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
            <br />
            <input type="submit" value="Send Email" class="btn btn-primary" onclick="QuickForgotPassword(event);" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <br>
            <br>
            <label id="lblMainSentMsg" class="bg-primary text-white pull-left"></label>
            <label id="lblErrorMsg" class="bg-danger text-white pull-left"></label>
        }
    </div>
    <script>
		$('#Username').blur(function () {
            if ($(this).val().length > 0) {
                $('#Email').val("");
                $('#Email').prop("disabled", true);
            }
            else
            {
                $('#Email').removeAttr("disabled");
            }
        });
        $('#Email').blur(function () {
            if ($(this).val().length > 0) {
                $('#Username').val("");
                $('#Username').prop("disabled", true);
            }
            else {
                $('#Username').removeAttr("disabled");
            }
        });
        function QuickForgotPassword(e) {
            e.preventDefault();
            var form = $(e.currentTarget).closest('form');
            var userName = $("#Username");
            var Email = $("#Email");
            if (userName.val() != "" || Email.val() != "") {
                if (!form.valid()) return;
                var url = $(e.currentTarget).closest('form').attr("action");
                var formData = $(e.currentTarget).closest('form').serialize();
                $.ajax({
                    url: url + "?IsAddPop=" + true,
                    type: "POST",
                    data: formData,
                    async:false,
                    dataType: "json",
                    success: function (jsonresult) {
                        var result = jsonresult.result;
                        if (result == "Ok") {
                            //var username = userName.val();
                            //var email = Email.val();
                            //userName.val('');
                            //Email.val('');
                            //if (email.length > 0)
                            //    $('#lblMainSentSuccess').html("An Email has been sent to your Email Id " + "<u style='color: blue'> " + email + ".</u>");
                            //else
                            //    $('#lblMainSentSuccess').html("An Email has been sent to your registered Email Id.");
                            //$("#dVforgot").addClass("hideForgotPassword");
                            //form.find('#lblErrorMsg').text("");
                            var verifyurl = '@Url.Action("ResetPassword", new { UserId = "_UserId", code = "", mode = "1" })'.replace('_UserId', jsonresult.userid);
                            $("#popupForgotPasswordLabel").html("Reset Password");
                            $("#dvForgotPassword").html("Loading...");
                            $("#dvForgotPassword").load(verifyurl);
                            return true;
                        }
                        else if (result == "UserNotExist") {
                            var UserEmailNotExist = "";
                            if (userName.val() != "") {
                                UserEmailNotExist = "Registered user name does not exist."
                            }
                            else if (Email.val() != "") {
                                UserEmailNotExist = "Registered email does not exist."
                            }
                            if (userName.val() != "" && Email.val() != "") {
                                UserEmailNotExist = "Registered user name and Email does not exist."
                            }
                            form.find('#lblErrorMsg').text(UserEmailNotExist);
                            form.find('#lblMainSentMsg').text("");
                        }
                        else if (result == "UserIslocked") {
                            form.find('#lblErrorMsg').text("Account has been locked.Please contact application administrator");
                            form.find('#lblMainSentMsg').text("");
                        }
                        else if (result == "UserLoginAttempt") {
                            form.find('#lblErrorMsg').text("User login attempt exceed,please contact application administrator.");
                            form.find('#lblMainSentMsg').text("");
                        }
                        else if (result.includes("SMTP Issue")) {
                            form.find('#lblErrorMsg').text(result + ": SMTP Setting is not correct.");
                            form.find('#lblMainSentMsg').text("");
                        }
                        else {
                            form.find('#lblErrorMsg').text(result);
                            form.find('#lblMainSentMsg').text("");
                        }
                    }
                });
            }
            else {
                form.find('#lblErrorMsg').text("Please enter your registered username or email id.");
                form.find('#lblMainSentMsg').text("");
            }
        }
    </script>

</body>
</html>
