@model PagedList.IPagedList<GeneratorBase.MVC.Models.T_ExportDataConfiguration>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = null;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment; filename=\"Export Data Configuration.xls\"");
}
                    <table>
                            <tr>
@if(User.CanView("T_ExportDataConfiguration","T_AutoNo"))
{
		<th>Auto No.</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_Name"))
{
		<th>Name</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_EntityName"))
{
		<th>Entity Name</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_AllowedRoles"))
{
		<th>Allowed Roles</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_Description"))
{
		<th>Description</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_Disable"))
{
		<th>Disable</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_BackGroundColor"))
{
		<th>Background Color</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_FontColor"))
{
		<th>Font Color</th>
}
@if(User.CanView("T_ExportDataConfiguration","T_ToolTip"))
{
		<th>Tool Tip</th>
}
    </tr>
@foreach (var item in Model) {
List<string> hiddenProperties = new List<string>();
if (User.businessrules.Any(p => p.EntityName == "T_ExportDataConfiguration" && p.ActionTypeID.Contains(6)))
{
	hiddenProperties = item.ApplyHiddenRule(User.businessrules, "T_ExportDataConfiguration");
}
    <tr>
	@if(User.CanView("T_ExportDataConfiguration","T_AutoNo"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_AutoNo)
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_Name"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_Name)
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_EntityName"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_EntityName)
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_AllowedRoles"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_AllowedRoles)
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_Description"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_Description)
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_Disable"))
{
		<td>
            @item.T_Disable
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_BackGroundColor"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_BackGroundColor)
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_FontColor"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_FontColor)
        </td>
}
@if(User.CanView("T_ExportDataConfiguration","T_ToolTip"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_ToolTip)
        </td>
}
                                </tr>
                            }
</table>
               
			   
